[submodule "external/django-flatpages-i18n"]
	path = external/django-flatpages-i18n
	url = https://github.com/dev-fjn/django-flatpages-i18n.git
[submodule "external/django-scheduler"]
	path = external/django-scheduler
	url = https://github.com/dev-fjn/django-scheduler.git
[submodule "external/django-blog-zinnia"]
	path = external/django-blog-zinnia
	url = https://github.com/dev-fjn/django-blog-zinnia.git
[submodule "external/django-contactme"]
	path = external/django-contactme
	url = https://github.com/dev-fjn/django-contactme.git
