# virtualenv virtualenv --no-site-packages
# . virtualenv/bin/activate
# pip install -r requirements.txt
# pip freeze > requirements_freeze.txt
# (vigilar) grep install_required external/*/setup.py


# la base
Django < 1.6

# de base para trabajar
Fabric
South
ipython

# en produccion
gunicorn
psycopg2

# requerido por algo (django?)
pytz

# para usar imagefields
PIL

# para usar django-filebrowser-no-grappelli tuneado para 1.5
git+https://github.com/jose-lpa/django-filebrowser-no-grappelli.git
pillow

# requerido por django-flatpages-i18n (external)
django_modeltranslation

# requerido por zinnia
git+https://github.com/dev-fjn/django-blog-zinnia#egg=zinnia
beautifulsoup4>=4.1
django-tagging
django-mptt

# requerido por django-schedule (external)
python-dateutil
vobject
django_nose

# util para depurar
django-debug-toolbar
django-debug-toolbar-extra
django-debug-toolbar-user-panel-fc
django-dtpanel-htmltidy
django-extensions

