{% extends "base_2col.html" %}
{% load flatpages_treemenus %}

{% block title %}{{block.super}} - {{ flatpage.title }}{% endblock title %}
{% block head_description %}{{block.super}} - {{flatpage.title}}{% endblock head_description %}

{% block aside_asidel %}
{% endblock aside_asidel %}

{% block hormiga %}
<ul>
	 <li>{% enlace_a_pagina_padre_en_menu %}</li>
	 <li>
		  <a href="#">{{flatpage.title}}</a>
		  {% if user.is_superuser %}<a href="{% url 'admin:flatpages_i18n_flatpage_i18n_change' flatpage.id %}">&#9998;</a>{% endif %}
	 </li>
</ul>
{% endblock hormiga %}


{% block body %}
	 <div class="flatpage-i18n">
		  {% if user.is_superuser %}
		  <h1><a href="{% url 'admin:flatpages_i18n_flatpage_i18n_change' flatpage.id %}">&#9998;</a> {{ flatpage.title }}</h1>
		  {% else  %}
		  <h1>{{ flatpage.title }}</h1>
		  {% endif %}
		  <hr />
		  {{ flatpage.content }}
	 </div>
{% endblock body %}
