// ---------------------------------------------------------------------------
// Imports
@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "susy";

// ---------------------------------------------------------------
// http://www.shingokko.com/blog-entry/responsively-design-a-blog.html
// http://lab.xms.pl/css-generator/
// ---------------------------------------------------------------------

// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
//$grid-padding   : $gutter-width;
$grid-padding   : 0;

$container-width: 60em;
$container-style: magic;
//$container-style: fluid;
//$container-style: fixed;


//$show-grid-backgrounds				: true;
//$show-column-grid-backgrounds		: true;
//$show-baseline-grid-backgrounds		: true;

//$grid-background-baseline-color		: rgba(  0,   0,   0, 1    );
//$grid-background-column-color		: rgba(191, 191, 191, 0.75 );
//$grid-background-gutter-color		: rgba(127, 127, 127, 0.75 );

$tamaño_base						: 16;
$base_font_size_px					: $tamaño_base;
$base_line_height_px				: 24;
$font_base							: $base_font_size_px;

// COLORES
// ~~~~~~~
//
// http://webcolourdata.com/profile/60980
//
$color00: #000000;
$color01: #ffffff;
$color02: #B6B09E;
$color03: #ABA28E;
$color04: #EB2C2D;
$color05: #F3171B;
$color06: #74644D;
$color07: #C6C1B3;
$color08: #C1B7A4;
$color09: #A39579;
$color10: #C6AD73;
$color11: #977856;
$color12: #9AA6AD;
$color13: #EF9691;

////////////////////////////////////////////////////////////////////////
@import "funciones";
@import "mixins";
@import "style";
