// ----
// Sass (v3.3.0.rc.1)
// Compass (v0.13.alpha.7)
// ----

// ---------------------------------------------------------------------------
// Imports
@import "compass";

@import "compass/reset";
@import "compass/utilities/general/reset";
@import "compass/support";

@import "compass/layout/sticky-footer";

@import "compass/css3";
@import "compass/css3/columns";
@import "compass/css3/border-radius";
@import "compass/css3/font-face";

@import "compass/utilities";

@import "susy";
// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 0.5em;
//$grid-padding   : $gutter-width;
$grid-padding   : 0;

$show-grid-backgrounds  : true;

$container-width: 60em;
$container-style: magic;

$font_base: 16px;

// COLORES
// ~~~~~~~
//
// http://webcolourdata.com/profile/60980
$color00: #000000;
$color01: #FFFFFF;
$color02: #C2BEAF; // #B6B09E; color_marron_suave_del_logo
$color03: #918B74; // #ABA28E; color_marron_fuerte_del_logo
$color04: Blue;    // #EB2C2D; // Rojo
$color05: Red;     // #F3171B; // Rojo
$color06: Green;   // #74644D; // → Texto
$color07: #C6C1B3;
$color08: #C1B7A4;
$color09: #A39579;
$color10: #C6AD73;
$color11: #977856;
$color12: #9AA6AD;
$color13: #EF9691; // Rojo rosa

// Foreground (color principal del texto) de los menus
$color_texto_menus_raiz: $color00;    // #000000; // Negro
$color_texto_menus: $color01;        // #FFFFFF; // Blanco

$color_marron_suave_del_logo:  #C2BEAF;
$color_marron_fuerte_del_logo: #918B74;

// Colores de los menus.
$color_menu01: #fefefe; // PELIGRO, Hay una fuga que afecta a toda la pagina. LOCALIZAR
$color_menu02: #e6e6e6; //#eee9f0; // PELIGRO, Hay una fuga que afecta a toda la pagina. LOCALIZAR
$color_menu03: $color09; // $color04; // #db000b; //rojo
$color_menu04: lighten($color02, 20%); // #ececec;
$color_menu05: $color00; //$color_texto_menus_raiz;
$color_menu06: Blue; //$color_menu01;
$color_menu07: lighten($color02, 20%); //$color05; // #ff0f1b; //rojo
$color_menu08: $color01; //$color_texto_menus;
$color_menu09: $color03; // #a80008; //rojo oscuro
$color_menu10: darken($color03, 20%); // #8f0007; //rojo mas oscuro

//@mixin navigation-list($c1: #FFF, $c2: #000) {
//    list-style-type: none;
//    margin: 0;
//    overflow: hidden;
//    > li {
//        display: block;
//        float: left;
//        padding-left: .25em;
//        padding-right: .25em;
//        &:last-child {
//            margin-right: 0;
//        }
//        &.current{
//            color: $c1!important;
//            &:hover {
//                background-color: $c2;
//            }
//        }
//    }
//}

// ---------------------------------------------------------------------------
// Funciones:
// ~~~~~~~~~
// ---------------------------------------------------------------------------
@function em($px, $base: $font_base) {
    @return ($px / $base) * 1em;
}

$radio-standar: em(10px);

// Fuentes
// ~~~~~~~
@include font-face("sf-speakeasy", font-files("sf-speakeasy/SF_Speakeasy-webfont.woff", "sf-speakeasy/SF_Speakeasy-webfont.ttf", "sf-speakeasy/SF_Speakeasy-webfont.svg"), "sf-speakeasy/SF_Speakeasy-webfont.eot");
@include font-face("glyphicons", font-files("glyphicons/glyphicons-halflings-regular.woff", "glyphicons/glyphicons-halflings-regular.ttf", "glyphicons/glyphicons-halflings-regular.svg"), "glyphicons/glyphicons-halflings-regular.eot");
@include font-face("tron", font-files("tron/tron-webfont.woff", "tron/tron-webfont.ttf", "tron/tron-webfont.svg"), "tron/tron-webfont.eot");

// Clases para aplicar las fuentes:
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.sf-speakeasy {
    font-family: "sf-speakeasy";
    //font-size: 1.0em;
}
.glyphicons{
    font-family: "glyphicons";
    //font-size: 1.0em;
}
.tron{
    font-family: "tron";
    //font-size: 1.0em;
}

// Google Font:
.opensans{
    font-family: 'Open Sans', sans-serif;
    //font-size: 1.0em;
}
.cantarell{
    font-family: 'Cantarell', sans-serif;
    //font-size: 1em;
}

