////////////////////////////////////////////////////////////////////////

@font-face
{
	font-family: SFSpeakeasyRegular;
	font-style: normal;
	font-weight: 400;
	src:
		url(font/sf-speakeasy/SF_Speakeasy-webfont.eot?#iefix) format(embedded-opentype),
		url(font/sf-speakeasy/SF_Speakeasy-webfont.woff) format(woff),
		url(font/sf-speakeasy/SF_Speakeasy-webfont.ttf) format(truetype),
		url(font/sf-speakeasy/SF_Speakeasy-webfont.svg#SFSpeakeasyRegular) format(svg);
}
a {
	color: $color10;
	transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
	-webkit-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
	   -moz-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
	    -ms-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
	     -o-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
}

a:hover { color: $color11 }

//--article time { color: $color08 }

body {
	//background: $color06 url(../img/bg.png);
	//font: 100%/1.125em CuprumFFURegular, cursive;
}

h1, h2 {
	font-family: SFSpeakeasyRegular, cursive;
	font-weight: 700;
	//line-height: 1.125em;
}


.container {
	-webkit-transition-duration: 1.5s;
	   -moz-transition-duration: 1.5s;
	     -o-transition-duration: 1.5s;
	-webkit-animation-property: 0;
	   -moz-animation-property: 0;
	     -o-animation-property: 0;
}

#head {
	//margin: 1em 0;
	-webkit-transition-duration: 1s;
	   -moz-transition-duration: 1s;
	     -o-transition-duration: 1s;
	-webkit-animation-property: 0;
	   -moz-animation-property: 0;
	     -o-animation-property: 0;
}

.header-container {
	-webkit-transition-duration: .5s;
	   -moz-transition-duration: .5s;
	     -o-transition-duration: .5s;
	-webkit-animation-property: 0;
	   -moz-animation-property: 0;
	     -o-animation-property: 0;
}

/*Login*/
.ribbon{
	//background-color: $color07;
}

.banner #decoration-1 {
//--	right: 21.25em;
//--	z-index: -1;
}

.banner .bar {
//--	display: table-cell;
//--	padding-left: 1.6em;
//--	padding-top: 1.625em;
//--	vertical-align: top;
}

.banner .bar .menu a {
//--	font-weight: 700;
//--	text-shadow: 0 1px 0 $color12;
//--	text-transform: uppercase;
}

.banner .bar .menu li {
//--	-moz-animation-property: 0;
//--	-moz-transition-duration: .3s;
//--	-o-animation-property: 0;
//--	-o-transition-duration: .3s;
//--	-webkit-animation-property: 0;
//--	-webkit-transition-duration: .3s;
//--	margin: 0 4% 0 0;
}

//--.banner .bar .social
//--{
//--	position: absolute;
//--	right: 0;
//--}
//--//--
//--.banner .bar .social a
//--{
//--	-moz-background-size: cover;
//--	-webkit-background-size: cover;
//--	background: url(../img/social.png) no-repeat (cover);
//--	height: 2.0625em;
//--	line-height: 2.0625em;
//--	opacity: .65;
//--	text-indent: -99999px;
//--	width: 2.0625em;
//--}
//--//--
//--.banner .bar .social a:hover { opacity: 1 }
//--//--
//--.banner .bar .social li { margin-right: .5625em }
//--//--
//--.banner .bar .social ul { width: 8.4375em }
//--//--
//--.banner .bar a
//--{
//--	color: $color03;
//--	display: block;
//--	height: 2.0625em;
//--	line-height: 2.0625em;
//--	text-decoration: none;
//--}
//--//--
//--.banner .bar a:hover,
//--.contentinfo a:hover { color: $color02 }
//--//--
//--.banner .bar li,
//--.contentinfo li { float: left }
//--//--
//--.banner .bar nav
//--{
//--	list-style: none;
//--	margin: 0;
//--}
//--//--
//--.banner .bar ul
//--{
//--	-moz-animation-property: 0;
//--	-moz-transition-duration: .5s;
//--	-o-animation-property: 0;
//--	-o-transition-duration: .5s;
//--	-webkit-animation-property: 0;
//--	-webkit-transition-duration: .5s;
//--	overflow: hidden;
//--}
//--//--
//--.banner .ribbon
//--{
//--//	 -moz-animation-property: 0;
//--//	-moz-transition-duration: .5s;
//--//	 -o-animation-property: 0;
//--//	-o-transition-duration: .5s;
//--//	 -webkit-animation-property: 0;
//--//	-webkit-transition-duration: .5s;
//--//	box-shadow: 0 10px 3px rgba(0,0,0,.2);
//--//--
//--	background: $color07 0;
//--	border: solid 4px $color09;
//--	border-left: none 0;
//--	border-right: none 0;
//--//--
//--	height: 4.1875em;
//--//	margin-top: 4.1875em;
//--	margin-top: 6.374em;
//--
//--//	position: absolute;
//--
//--//	width: 100%;
//--//	z-index: -1;
//--}
//--//--
//--.banner .search .button
//--{
//--	-moz-background-size: cover;
//--	-webkit-background-size: cover;
//--	background: url(../img/search.png) no-repeat (cover);
//--	displa: inline;
//--	height: 2.0625em;
//--	line-height: 2.0625em;
//--	margin-left: -1.0625em;
//--	text-indent: -99999px;
//--	vertical-align: middle;
//--	width: 2.0625em;
//--	zoom: 1;
//--}
//--//--
//--.banner .search .text
//--{
//--	-moz-border-radius: 1em 0 0 1em;
//--	-moz-transition: background-color .3s ease-in;
//--	-ms-border-radius: 1em 0 0 1em;
//--	-ms-transition: background-color .3s ease-in;
//--	-o-border-radius: 1em 0 0 1em;
//--	-o-transition: background-color .3s ease-in;
//--	-webkit-border-radius: 1em 0 0 1em;
//--	-webkit-transition: background-color .3s ease-in;
//--	background: $color03;
//--	border: none 0;
//--	border-radius: 1em 0 0 1em;
//--	height: 2.0625em;
//--	line-height: 2.0625em;
//--	margin: 0;
//--	padding: 0 1.5625em 0 .5em;
//--	transition: background-color .3s ease-in;
//--}
//--//--
//--.banner .search .text:focus { background: $color02 }
//--//--
//--.banner .search input { outline: 0 }
//--//--
//--.banner .search input::-moz-focus-inner { border: 0 }
//--//--
//--.banner .social .facebook a { background: -2.0625em }
//--//--
//--.banner .social .feed a { background: -4.125em }
//--//--
//--.banner .wrapper { margin-top: 1.9em }
//--//--
//--.banner hgroup
//--{
//--	display: table-cell;
//--	vertical-align: top;
//--	width: 12.8125em;
//--}
//--//--
//--.banner hgroup img { width: 12.8125em }
//--//--
//--.banner-wrapper,
//--#wrapper
//--{
//--	margin: 0 auto;
//--	width: 90%;
//--}
//--//--
//--.banner-wrapper,
//--.other article { display: table }
//--//--
//--.blog { margin-bottom: 1em }
//--//--
//--.blog header { margin-bottom: .4em }
//--//--
//--.blog img
//--{
//--	-moz-border-radius: .1875em;
//--	-moz-box-shadow: 0 1px 2px $color05;
//--	-ms-border-radius: .1875em;
//--	-ms-box-shadow: 0 1px 2px $color05;
//--	-o-border-radius: .1875em;
//--	-o-box-shadow: 0 1px 2px $color05;
//--	-webkit-border-radius: .1875em;
//--	-webkit-box-shadow: 0 1px 2px $color05;
//--	border-radius: .1875em;
//--	box-shadow: 0 1px 2px $color05;
//--}
//--//--
//--.blog p,
//--.comment article,
//--.other article { margin: .6em 0 }
//--//--
//--.comment .info,
//--.other .info
//--{
//--	display: table-cell;
//--	padding: 0 1.5% 2% 3%;
//--	vertical-align: top;
//--	width: auto;
//--}
//--//--
//--.comment figure img,
//--.other figure img
//--{
//--	-moz-border-radius: .1875em;
//--	-moz-box-shadow: 0 1px 2px $color05;
//--	-ms-border-radius: .1875em;
//--	-ms-box-shadow: 0 1px 2px $color05;
//--	-o-border-radius: .1875em;
//--	-o-box-shadow: 0 1px 2px $color05;
//--	-webkit-border-radius: .1875em;
//--	-webkit-box-shadow: 0 1px 2px $color05;
//--	border-radius: .1875em;
//--	box-shadow: 0 1px 2px $color05;
//--	margin: 0 auto;
//--	max-width: 100%;
//--	vertical-align: middle;
//--}
//--//--
//--.comment figure,
//--.other figure
//--{
//--	display: table-cell;
//--	max-width: 6em;
//--	vertical-align: top;
//--	width: 6em;
//--}
//--//--
//--.comment h2
//--{
//--	background: url(../img/comment.png) no-repeat;
//--	padding-left: 1.2em;
//--}
//--//--
//--.contentinfo
//--{
//--	background: $color07 0;
//--	border-top: solid 4px $color09;
//--	box-shadow: 0 10px 3px rgba(0,0,0,.2);
//--	clear: both;
//--	color: $color01;
//--	font-size: .8125em;
//--	overflow: hidden;
//--	text-align: center;
//--}
//--//--
//--.contentinfo #decoration-5
//--{
//--	margin-top: -4.076923em;
//--	right: 8.461538em;
//--}
//--//--
//--.contentinfo .wrapper
//--{
//--	background: url(../img/art/cup-of-coffee.png) 105% 30% no-repeat;
//--	padding: 1em 0;
//--}
//--//--
//--.contentinfo a
//--{
//--	color: $color03;
//--	display: block;
//--	margin: .4em;
//--}
//--//--
//--.contentinfo h2 { color: $color03 }
//--//--
//--.contentinfo nav,
//--.contentinfo small
//--{
//--	display: inline;
//--	vertical-align: middle;
//--	zoom: 1;
//--}
//--//--
//--.contentinfo ul
//--{
//--	list-style: none;
//--	margin: 0;
//--	overflow: hidden;
//--}
//--//--
//--.decoration
//--{
//--	background: url(../img/art/sprite.png) no-repeat;
//--	position: absolute;
//--}
//--//--
//--.ie7 .banner
//--{
//--	margin: 1em 0;
//--	overflow: hidden;
//--}
//--//--
//--.ie7 .banner .bar
//--{
//--	display: block;
//--	float: left;
//--	margin-top: 1.625em;
//--	padding: 0;
//--	width: 70.509315%;
//--}
//--//--
//--.ie7 .banner .bar .wrapper
//--{
//--	margin-top: 1.625em;
//--	overflow: hidden;
//--}
//--//--
//--.ie7 .banner hgroup
//--{
//--	display: block;
//--	float: left;
//--	margin-left: 4.898447%;
//--	width: 24.492233%;
//--}
//--//--
//--.ie7 .banner-wrapper
//--{
//--	margin: 0;
//--	width: auto;
//--}
//--//--
//--.ie7 .comment .info
//--{
//--	display: block;
//--	float: right;
//--	padding: 0 1.5% 2%;
//--	width: 78%;
//--}
//--//--
//--.ie7 .comment article,
//--.ie7 .other article { overflow: hidden }
//--//--
//--.ie7 .comment figure
//--{
//--	display: block;
//--	float: left;
//--	width: 16.363636%;
//--}
//--//--
//--.ie7 .comment figure img,
//--.ie7 .other figure img
//--{
//--	margin: 0 auto;
//--	max-width: 100%;
//--	vertical-align: middle;
//--}
//--//--
//--.ie7 .other { width: 31.700001% }
//--//--
//--.ie7 .other .info
//--{
//--	display: block;
//--	float: right;
//--	padding: 0 1.5% 2%;
//--	width: 66%;
//--}
//--//--
//--.ie7 .other figure
//--{
//--	display: block;
//--	float: left;
//--	width: 30%;
//--}
//--//--
//--.ie8 .banner .search .text,
//--.ie7 .banner .search .text { background: url(../img/search-bg.png) no-repeat }
//--//--
//--.main
//--{
//--	float: left;
//--	font-size: 81.25%;
//--	margin-bottom: 1em;
//--	padding: 1em 1.5%;
//--	width: 62%;
//--}
//--//--
//--.main #decoration-2
//--{
//--	margin-left: 15.384615em;
//--	margin-top: -8.461538em;
//--}
//--//--
//--.main h2,
//--.other h2
//--{
//--	color: $color04;
//--	text-shadow: 0 1px 0 $color12;
//--}
//--//--
//--.main h3,
//--.main h4,
//--.other h3,
//--.other h4 { margin-bottom: .2em }
//--//--
//--.main img
//--{
//--	display: block;
//--	max-width: 100%;
//--}
//--//--
//--.main time,
//--.other time
//--{
//--	display: block;
//--	margin: .3em 0;
//--}
//--//--
//--.main,
//--.other aside
//--{
//--	-moz-border-radius: .5em;
//--	-ms-border-radius: .5em;
//--	-o-border-radius: .5em;
//--	-webkit-border-radius: .5em;
//--	background: $color02 url(../img/rough.png);
//--	border-radius: .5em;
//--	box-shadow: 0 0 20px rgba(0,0,0,.5);
//--}
//--//--
//--.other
//--{
//--	float: right;
//--	font-size: 81.25%;
//--	padding: 0 0 0 1.5%;
//--	width: 33.5%;
//--}
//--//--
//--.other #decoration-3
//--{
//--	margin-left: 13.076923em;
//--	margin-top: -2.692308em;
//--}
//--//--
//--.other #decoration-4
//--{
//--	margin-left: 7.692307em;
//--	margin-top: -2.923077em;
//--}
//--//--
//--.other aside
//--{
//--	margin-bottom: 1em;
//--	padding: 1em 5.211726%;
//--}
//--//--
//--.other aside h2
//--{
//--	-moz-hyphens: auto;
//--	-ms-word-break: break-all;
//--	-webkit-hyphens: auto;
//--	hyphens: auto;
//--	word-break: break-all;
//--}




//--#decoration-1
//--{
//--	-moz-animation-property: 0;
//--	-moz-transition-duration: 1s;
//--	-o-animation-property: 0;
//--	-o-transition-duration: 1s;
//--	-webkit-animation-property: 0;
//--	-webkit-transition-duration: 1s;
//--	height: 67px;
//--	width: 52px;
//--}

//--#decoration-2
//--{
//--	background: -52px 0;
//--	height: 97px;
//--	width: 65px;
//--}

//--#decoration-3
//--{
//--	background: -117px 0;
//--	height: 35px;
//--	width: 51px;
//--}

//--#decoration-4
//--{
//--	background: -168px 0;
//--	height: 39px;
//--	width: 65px;
//--}
//--//--
//--#decoration-5
//--{
//--	background: -233px 0;
//--	height: 49px;
//--	width: 59px;
//--}
//--//--
