// ---------------------------------------------------------------------------
// Imports

@import "base";

// ---------------------------------------------------------------------
// http://www.shingokko.com/blog-entry/responsively-design-a-blog.html
// http://lab.xms.pl/css-generator/
// ---------------------------------------------------------------------


//	<!--[if lt IE 10]>
//		<div>
//			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
//		</div>
//	<![endif]-->

/* Layout */

////////////////////////////////////////////////////////////////////////
//
// Media Querys adaptativas
// ~~~~~~~~~~~~~~~~~~~~~~~~
////////////////////////////////////////////////////////////////////////

//@media screen and (min-width:    1px) and (max-width:  480px) {
//	$container-style: fluid;
//	$fuente: $font_base * 0.05em;

//	.container{
		//@include container;
//		//@include susy-grid-background;
//		//@include border-box-sizing;
//		//background-color: lime;
//		font-size: $fuente;

//		section#head {
//			header.header-container {
//				div.ribbon_container{
//					background-color: //red;
//					div.langid{
//					}
//					div.ribbon {
//					}
//				}
//				div.searchbox {}
//				div.menubox{
//					div.mymenus{
//						nav {
//							ul {
//								@include navigation-list();
//								li {
//									a {
//									}
//								}
//							}
//						}
//					}
//					div.myicons{
//						span {}
//					}
//				clear: both;
//				}

//				div.hormigas{}
//				div.chromeframe {}
//			}
//		}

//		@include clearfix();

////////////////////////////////////////////////////////////////////////

//		div.main-container {
//			div.main.wrapper.clearfix {
//				section.myslideshow{
//					div {}
//				}
//				article {
//					header {
//						h1 {}
//						p {}
//					}
//					section {
//						h2 {}
//						p {}
//					}
//					footer {
//						h3 {}
//						p {}
//					}
//				}
//				aside {
//					h3 {}
//					p {}
//				}
//			}
//		}
//	}
//}


@media screen and (min-width:  481px) and (max-width: 2048px) {
	@include sticky-footer(144px, "#layout", "#layout_footer", "#footer-container");
	$container-style: fixed;
	$fuente: $font_base * 0.065em;

	.container {
		@include container;
		//@include susy-grid-background;
		@include border-box-sizing;
		// background-color: red;
		font-size: $fuente;
		@include box-shadow(rgba(black, 0.4) 0 0 25px, rgba(black, 0.2) 0 0 3px 1px inset);

////////////////////////////////////////////////////////////////////////

		section#head {
			@include span-columns(12, 12);
			header.header-container {
				@include span-columns(12, 12);

				div.ribbon-container{
					@include span-columns(12, 12);
					div.langid{
						@include span-columns(9, 12);
						form{
							select {}
							input{}
						}
					}
					div.ribbon {
						@include span-columns(3 omega, 12);
					}
				}
				clear: both;

				div.banner {
					@include pad(2, 2, 12);
				}

				clear: both;

				div.searchbox {
					@include pad(4, 4, 12);
				}
				div.menubox{
					@include prefix(2, 12);
					div.mymenus{
						@include span-columns(6, 10);
						nav {
							ul {
								@include navigation-list();
								li {
									a {
									}
								}
							}
						}
					}
					div.myicons{
						@include span-columns(3 omega, 8);
						span {
						}
					}
				clear: both;
				}

				div.hormigas{
					@include span-columns(12, 12);
					//@include omega;
				}
				div.chromeframe {
					@include omega;
				}
			}
		}

		@include clearfix();

////////////////////////////////////////////////////////////////////////

		div.main-container {
			@include span-columns(12 omega, 12);
			div.main.wrapper.clearfix {
				section.myslideshow{
					@include span-columns(12, 12);
					div {
					}
				}
				article {
					@include span-columns(9, 12);
					header {
						h1 {}
						p {}
					}
					section {
						h2 {}
						p {}
					}
					footer {
						h3 {}
						p {}
					}
				}
				aside {
					@include span-columns(3 omega, 12);
					h3 {}
					p {}
				}
			}
		}

////////////////////////////////////////////////////////////////////////

		div#footer-container {
			@include span-columns(12, 12);
			footer.wrapper {
				h3 {}
			}
		}
	}
}

//@media screen and (min-width: 1025px) and (max-width: 1640px) {
//	$container-style: fixed;
//	$fuente: $font_base * 0.08em;
//
//	.container {
//		@include container;
//		//@include susy-grid-background;
//		//@include border-box-sizing;
//		//background-color: blue;
//		font-size: $fuente;
//
//////////////////////////////////////////////////////////////////////////
//
//		section#head {
//			@include span-columns(12, 12);
//			header.header-container {
//				@include span-columns(12, 12);
//				div.ribbon-container{
//					@include span-columns(12, 12);
//					div.ribbon {
//					}
//				}
//				div.searchbox {
//					@include pad(4, 4, 12);
//				}
//				div.menubox{
//					@include prefix(4, 12);
//					div.mymenus{
//						@include span-columns(5, 8);
//						nav {
//							ul {
//								@include navigation-list();
//								li {
//									a {
//									}
//								}
//							}
//						}
//					}
//					div.myicons{
//						@include span-columns(3 omega, 8);
//						span {
//						}
//					}
//				clear: both;
//				}
//
//				div.hormigas{
//					@include span-columns(12, 12);
//					//@include omega;
//				}
//				div.chromeframe {
//					@include omega;
//				}
//			}
//		}
//
//		@include clearfix();
//
//////////////////////////////////////////////////////////////////////////
//
//		div.main-container {
//			@include span-columns(12 omega, 12);
//			div.main.wrapper.clearfix {
//				section.myslideshow{
//					@include span-columns(12, 12);
//					div {
//					}
//				}
//				article {
//					@include span-columns(9, 12);
//					header {
//						h1 {}
//						p {}
//					}
//					section {
//						h2 {}
//						p {}
//					}
//					footer {
//						h3 {}
//						p {}
//					}
//				}
//				aside {
//					@include span-columns(3 omega, 12);
//					h3 {}
//					p {}
//				}
//			}
//		}
//
//////////////////////////////////////////////////////////////////////////
//
//		div.footer-container {
//			@include span-columns(12, 12);
//			footer.wrapper {
//				h3 {}
//			}
//		}
//	}
//}
//
//@media screen and (min-width: 1641px) and (max-width: 4092px) {
//	$container-style: fixed;
//	$fuente: $font_base * 0.11em;
//
//	.container {
//		@include container;
//		@include susy-grid-background;
//		@include border-box-sizing;
//		//background-color: orange;
//		font-size: $fuente;
//
//////////////////////////////////////////////////////////////////////////
//
//		section#head {
//			@include span-columns(12, 12);
//			header.header-container {
//				@include span-columns(12, 12);
//				div.ribbon {
//					@include span-columns(12, 12);
//				}
//				div.searchbox {
//					@include pad(4, 4, 12);
//				}
//				div.menubox{
//					@include prefix(4, 12);
//					div.mymenus{
//						@include span-columns(5, 8);
//						nav {
//							ul {
//								@include navigation-list();
//								li {
//									a {
//									}
//								}
//							}
//						}
//					}
//					div.myicons{
//						@include span-columns(3 omega, 8);
//						span {
//						}
//					}
//				clear: both;
//				}
//
//				div.hormigas{
//					@include span-columns(12, 12);
//					//@include omega;
//				}
//				div.chromeframe {
//					@include omega;
//				}
//			}
//		}
//
//		@include clearfix();
//
//////////////////////////////////////////////////////////////////////////
//
//		div.main-container {
//			@include span-columns(12 omega, 12);
//			div.main.wrapper.clearfix {
//				section.myslideshow{
//					@include span-columns(12, 12);
//					div {
//					}
//				}
//				article {
//					@include span-columns(9, 12);
//					header {
//						h1 {}
//						p {}
//					}
//					section {
//						h2 {}
//						p {}
//					}
//					footer {
//						h3 {}
//						p {}
//					}
//				}
//				aside {
//					@include span-columns(3 omega, 12);
//					h3 {}
//					p {}
//				}
//			}
//		}
//
//////////////////////////////////////////////////////////////////////////
//
//		div.footer-container {
//			@include span-columns(12, 12);
//			footer.wrapper {
//				h3 {}
//			}
//		}
//	}
//
//}
