{% extends 'base.html' %}
{% load contenidosblocks %}
{% load zinnia_tags %}

{% block extra_head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="http://malsup.github.io/jquery.cycle2.js"></script>
{% endblock extra_head %}

{% block title %}
{{block.super}} Portada
{% endblock title %}

{% block slide %}
{% imagenes %}
{% endblock slide %}

{% block expo %}
{% videos %}
{% endblock expo %}

{% block noticias %}
<h2>NOTICIAS</h2>
{% get_recent_entries %}
{% endblock noticias %}

{% block agenda %}
<h2>AGENDA</h2>
{% proximos_eventos %}
{% endblock agenda %}
