// ----
// Sass (v3.3.0.rc.1)
// Compass (v0.13.alpha.7)
// ----

// ---------------------------------------------------------------------------
// Imports
@import "compass";

@import "compass/reset";
@import "compass/utilities/general/reset";
@import "compass/support";

@import "compass/layout/sticky-footer";

@import "compass/css3";
@import "compass/css3/columns";
@import "compass/css3/border-radius";
@import "compass/css3/font-face";

@import "compass/utilities";

@import "susy";

// Recipes
// ~~~~~~~
//https://github.com/MoOx/compass-recipes/blob/master/tests/recipes/shadow/drop/s.scss
@import "recipes/shadow";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
//$grid-padding   : $gutter-width;
$grid-padding   : 0;

$show-grid-backgrounds: false;

$container-width: 60em;
$container-style: magic;
