// Soporte para el IE
@import "compass/support";

// Activando soporte
$legacy-support-for-ie: true;

// Usually compass hacks apply to both ie6 & 7 -- set this to false to disable support for both.
$legacy-support-for-ie6: $legacy-support-for-ie;

// Setting this to false will result in smaller output, but no support for ie6 hacks
$legacy-support-for-ie7: $legacy-support-for-ie;

// Setting this to false will result in smaller output, but no support for ie7 hacks
$legacy-support-for-ie8: $legacy-support-for-ie;
