// ----
// Sass (v3.3.0.rc.1)
// Compass (v0.13.alpha.7)
// ----

// ---------------------------------------------------------------------------
// Imports
@import "base";
@import "functions";
@import "mixins";
@import "variables";
@import "ie";

// Otros
@import "fuentes";
@import "colores";

// Clases
@import "clases";
@import "elementos";

// Componentes:
@import "estilos/banner";
@import "estilos/buscador";
@import "estilos/menus";
@import "estilos/hormigas";
@import "estilos/info";
@import "estilos/asidel";
@import "estilos/noticias";
@import "estilos/body";
@import "estilos/slideshow";
@import "estilos/expo";
@import "estilos/botones_centrales";

@import "estilos/variable_1col";
@import "estilos/variable_2col";
@import "estilos/variable_2col_especial";

@import "estilos/agenda";
@import "estilos/eventos";
@import "estilos/footer";


/* -------------------------------------------------------------------------*/
/* Layout */
/* -------------------------------------------------------------------------*/

.container {
	@include container;
	@include susy-grid-background;
	//@include sticky-footer(200px);
	@include box-shadow(rgba(black, 0.4) 0 0 em(25px), rgba(black, 0.2) 0 0 em(3px) em(1px) inset);

	header {

		section#banner{
			section#relleno{
				@include span-columns(8, 12);
			}

			section#caja{
				@include span-columns(4 omega, 12);

				section#acceso{
					@include span-columns(4 omega, 4);
					// Buscador
				}

				section#social{
					@include span-columns(4 omega, 4);
				}

				section#contacto{
					@include span-columns(4 omega, 4);
				}
			}
		}

		section#menus{
			@include span-columns(12 omega, 12);
			nav#cssmenu{
				ul, li, span, a {}
				&:after, ul:after {}
				a {}
				ul {}
				> ul {
					> li {
						> a {}
						&:hover:after {}

						&:first-child > a {}
						&.active {
							&:after {}
							> a {}
						}
						&:hover > a {}
					}
				}

				.has-sub {
					&:hover > ul {}
					ul {
						li {
							a {}
							&:hover a {}
						}
					}
					.has-sub {
						&:hover > ul {}
						ul {
							li a {
								&:hover {}
							}
						}
					}
				}
			}
		}

	}

	@include clearfix;

	div.content{

		@include span-columns(12 omega, 12);

		section#hormiga{
			@include span-columns(12 omega, 12);
			ul {
				li {
					a {
						&:before {}
						&:after {}
					}
					&:first-child a {
						&:before {}
					}
					&:last-child a {
						&:after {}
					}
					a:hover {
						&:after {}
						&:before{}
					}
				}
			}
		}

		section#info{
			@include span-columns(12 omega, 12);
		}

		section#variable{
			@include span-columns(12 omega, 12);

			aside#asidel{
				@include span-columns(3, 12);

				section#news{
					h2{}
					ul{
						li{
							a{
							a:before {}
								&:hover:before {}
								&:hover:after {}
							}
						}
						li:hover{}
						li:hover:before{}
					}
				}

			}

			section#body{
				@include span-columns(6, 12);

				section#slide{}

				@include clearfix;

				div#ourinfo{
					@include span-columns(6, 6);

					section#where{
						@include span-columns(3, 6);
					}

					section#services{
						@include span-columns(3 omega, 6);
					}

				}

				@include clearfix;

				section#expo{}

			}

			aside#asider{
				@include span-columns(3 omega, 12);

				section#agenda{}

				section#varios{}

			}

		}

		// Sección 'variable' con una sola columna
		// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		section#variable_1col{
			section#body{
				@include span-columns(6, 6);

				div#libro_list{
					div.ficha{
						div.portada_libro{
							@include span-columns(2, 6);
						}
						div.datos_libro{
							@include span-columns(4 omega, 6);
						}
					}
				}

				div#space{}
			}
		}

		// Sección 'variable' con 2 columnas
		// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		section#variable_2col{
			section#body{
				@include span-columns(9, 12);

				div.presencia{
					dl{
						dt{
							@include span-columns(5, 9);
						}
						dd{
							@include span-columns(4 omega, 9);
						}
					}

				}
			}

			aside#asider{
				@include span-columns(3 omega, 12);
				section#agenda{
					h2{}
				}
				section#varios{
					section#internal{
						h2{}
					}
					section#externas{
						h2{}
					}
				}
			}
		}

		// Sección "varioable", con 2 columnas (especial)
		section#variable_2col_especial{

			section#body{
				@include span-columns(9, 12);

				div#space{

					section#bodyleft{
						@include span-columns(4, 9);
					}

					section#bodyright{
						@include span-columns(5 omega, 9);
					}

				}

			}

			aside#asider{
				@include span-columns(3 omega, 12);

				section#agenda{
					h2{}
				}

				section#varios{

					section#internal{
						h2{}
					}

					section#externas{
						h2{}
					}
				}

			}

		}

	}

@include clearfix;

	footer#footer{
		@include span-columns(12 omega, 12);

		div#finicial{
			@include span-columns(12 omega, 12);
		}

		div#col1, div#col2, div#col3, div#col4 {
			@include span-columns(1, 5);
		}

		div#col5{
			@include span-columns(1 omega, 5);
		}

		div#ffinal{
			@include span-columns(12 omega, 12);
		}


		div#legal{
			@include span-columns(12 omega, 12);
		}
	}









	@media print {
		background-color: Maroon;
	}

	@media screen and (max-width: 1280px) {
//		background-color: Yellow;
	}

	@media screen and (max-width: 960px) {
//		background-color: Green;
	}

	@media screen and (max-width: 800px) {
//		background-color: Silver;
	}

	@media screen and (max-width: 480px) {
//		background-color: Blue;
	}

	@media screen and (max-width: 320px) {
//		background-color: Red;
	}

}
