section#menus{
    background-color: $color_menu01;

    nav#cssmenu{
        height: em(49px);
        @include border-top-radius(em(10px));

        // Fondo degradado de los menús
        background: $color_menu01;
        @include background-image(linear-gradient($color_menu01, $color_menu02));

        // Línea Base roja para todos los menús
        border-bottom: em(2px) solid $color_menu03;
        width: auto;

        ul, li, span, a {
            margin: 0;
            padding: 0;
            position: relative;
        }
        &:after, ul:after {
            content: '';
            display: block;
            clear: both;
        }
        // Adaptar a scss
        a {
            color: $color_menu05;
            background: transparent;
            //@include background-image(linear-gradient($color_menu01, $color_menu04));

            display: inline-block;
            line-height: em(49px);
            padding: 0 em(20px);
            text-decoration: none;
        }
        ul {
            list-style: none;
            z-index: 1000;
        }
        > ul {
            float: left;
            > li {
                float: left;

                > a {
                    color: $color_menu05;
                    /* font-size: 12px; */
                }
                // Dibujamos el triangulo rojo
                &:hover:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    border-left: em(10px) solid transparent;
                    border-right: em(10px) solid transparent;
                    border-bottom: em(10px) solid $color_menu03;
                    margin-left: em(-10px);
                }

                &:first-child > a {
                    //Pasas a compass
                    //@include border-top-radius(10px);
                    -webkit-border-radius: em(5px) 0 0 0;
                       -moz-border-radius: em(5px) 0 0 0;
                            border-radius: em(5px) 0 0 0;
                }
                &.active {
                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        border-left: em(10px) solid transparent;
                        border-right: em(10px) solid transparent;
                        border-bottom: em(10px) solid $color_menu03;
                        margin-left: em(-10px);
                    }
                    > a {
                        background: $color_menu04;
                        //@include background-image(linear-gradient($color_menu04, $color_menu06));    // No lleva degradado.

                        // Pasar a compass


                        -webkit-box-shadow: inset 0 0 em(2px) rgba(0, 0, 0, 0.1);
                           -moz-box-shadow: inset 0 0 em(2px) rgba(0, 0, 0, 0.1);
                                box-shadow: inset 0 0 em(2px) rgba(0, 0, 0, 0.1);
                    }
                }
                &:hover > a {
                    // Hover sobre los men´us principales
                    //background: $color_menu04;
                    //@include background-image(linear-gradient($color_menu04, $color_menu05));    //No lleva degradado
                    @include background-image(linear-gradient($color_menu04, $color02));    //No lleva degradado
                    // Pasar a compass
                    -webkit-box-shadow: inset 0 0 em(2px) rgba(0, 0, 0, 0.1);
                       -moz-box-shadow: inset 0 0 em(2px) rgba(0, 0, 0, 0.1);
                            box-shadow: inset 0 0 em(2px) rgba(0, 0, 0, 0.1);
                }
            }
        }

        .has-sub {
            //z-index: 1;
            &:hover > ul {
                display: block;
            }
            ul {
                display: none;
                position: absolute;
                width: em(200px);
                top: 100%;
                left: 0;
                li {
                    *margin-bottom: em(-1px);
                    a {
                        background: $color_menu03;
                        border-bottom: em(1px) dotted $color_menu07;
                        filter: none;
                        /* font-size: 11px; */
                        display: block;
                        line-height: 120%;
                        padding: em(10px);
                        color: $color_menu08;
                    }
                    &:hover a {
                        background: $color_menu09;
                    }
                }
            }
            .has-sub {
                &:hover > ul {
                    display: block;
                }
                ul {
                    display: none;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    li a {
                        background: $color_menu09;
                        border-bottom: 1px dotted $color_menu07;
                        &:hover {
                            background: $color_menu10;
                        }
                    }
                }
            }
        }
    }
}
