// Sección 'variable' con 2 columnas
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
section#variable_2col{

    section#body{
        text-align: justify;

        div.flatpage-i18n{
            @include border-radius($radio-standar);
            //background-color: Red;
            //max-width: 69%;
            min-height:em(480px);
            margin: em($font_base);
            border: em($font_base);
            padding: em($font_base);

            //font: inherit;
            //font-size: 100%;

            h1{
                font-weight:700;
            }

            img{
                @include drop-shadow-transform-requirement($color01);
                padding: em($font_base);
            }

            p{
                padding-bottom: em($font_base);
            }
            dl{
                @include border-radius($radio-standar);
                dt{
                    font-weight:700;
                    padding-top: em($font_base);
                }
                dd{
                    text-indent: em($font_base * 1.5);
                    &:before{
                        content: "\261E ";
                    }
                }
            }

        }
    }

//    aside#asider{
//        section#agenda{
//            @include border-radius($radio-standar);
//            padding: .2em;
//            margin: .2em;
//            border: 1px solid $color08 ;
//            h2{
//                text-align:center;
//            }
//        }
//
//        section#varios{
//            @include border-radius($radio-standar);
//            padding: .2em;
//            margin: .2em;
//            border: 1px solid $color08 ;
//
//            section#internal{
//                @include border-radius($radio-standar);
//                padding: .2em;
//                margin: .2em;
//                border: 1px solid $color08 ;
//                h2{
//                    text-align:center;
//                }
//            }
//
//            section#externas{
//                @include border-radius($radio-standar);
//                padding: .2em;
//                margin: .2em;
//                border: 1px solid $color08 ;
//                h2{
//                    text-align:center;
//                }
//            }
//        }
//    }
}
