@function em($target, $context: $font-base) {
	@if $target == 0 { @return 0 }
	@if $context == 0 { $context: 16; }
	@return $target / $context + 0em;
}

@function perc($width, $container-width: $max-width) {
	@return percentage($width / $container-width);
}

@function lh($amount: 1, $context: $font-base) {
	@return em($font-base-line-height * $amount, $context);
}

@function heading-line-height($size) {

	$line-height: $font-base-line-height;

	$match: false;
	@while $match != true {

		@if $size == $line-height {
			$match: true;
		} @else if  $size < $line-height {
			$match: true;
		} @else if $size > $line-height {
			$line-height: $line-height + $font-base-line-height;
		} @else {
			$match: true;
		}

	}

	@return ($line-height / $size) + 0em;
}
