@charset "UTF-8";
/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "sf-speakeasy";
  src: url('fonts/sf-speakeasy/SF_Speakeasy-webfont.eot');
  src: url('fonts/sf-speakeasy/SF_Speakeasy-webfont.eot?#iefix') format('eot'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.woff') format('woff'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.ttf') format('truetype'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.svg') format('svg');
}

@font-face {
  font-family: "glyphicons";
  src: url('fonts/glyphicons/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('eot'), url('fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons/glyphicons-halflings-regular.svg') format('svg');
}

@font-face {
  font-family: "tron";
  src: url('fonts/tron/tron-webfont.eot');
  src: url('fonts/tron/tron-webfont.eot?#iefix') format('eot'), url('fonts/tron/tron-webfont.woff') format('woff'), url('fonts/tron/tron-webfont.ttf') format('truetype'), url('fonts/tron/tron-webfont.svg') format('svg');
}

@font-face {
  font-family: "entypo";
  src: url('fonts/entypo/entypo.eot');
  src: url('fonts/entypo/entypo.eot?#iefix') format('eot'), url('fonts/entypo/entypo.woff') format('woff'), url('fonts/entypo/entypo.ttf') format('truetype'), url('fonts/entypo/entypo.svg') format('svg');
}

@font-face {
  font-family: "entypo-social";
  src: url('fonts/entypo-social/entypo-social.eot');
  src: url('fonts/entypo-social/entypo-social.eot?#iefix') format('eot'), url('fonts/entypo-social/entypo-social.woff') format('woff'), url('fonts/entypo-social/entypo-social.ttf') format('truetype'), url('fonts/entypo-social/entypo-social.svg') format('svg');
}

/* line 12, ../sass/_fuentes.scss */
.sf-speakeasy {
  font-family: "sf-speakeasy";
}

/* line 16, ../sass/_fuentes.scss */
.glyphicons {
  font-family: "glyphicons";
}

/* line 20, ../sass/_fuentes.scss */
.tron {
  font-family: "tron";
}

/* line 26, ../sass/_fuentes.scss */
.opensans {
  font-family: 'Open Sans', sans-serif;
}

/* line 30, ../sass/_fuentes.scss */
.cantarell {
  font-family: 'Cantarell', sans-serif;
}

/* entypo-social */
/* line 41, ../sass/_fuentes.scss */
[class*="entypo-social-"]:before {
  font-family: 'entypo-social', sans-serif;
}

/* entypo */
/* line 46, ../sass/_fuentes.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 11, ../sass/_clases.scss */
figure img {
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
}

/* line 19, ../sass/_clases.scss */
.lista_de_datos {
  padding: 1em;
  border: 1em;
  margin: 0 auto;
  width: 100%;
}
/* line 27, ../sass/_clases.scss */
.lista_de_datos dl {
  overflow: hidden;
  margin: 0;
}
/* line 33, ../sass/_clases.scss */
.lista_de_datos dt {
  float: left;
  width: 20%;
  margin: 0;
  font-weight: 700;
  text-align: right;
}
/* line 39, ../sass/_clases.scss */
.lista_de_datos dt:after {
  content: ":";
}
/* line 43, ../sass/_clases.scss */
.lista_de_datos dd {
  float: left;
  width: 78%;
  margin: 0;
  text-align: justify;
  padding-left: 2%;
}

/* line 54, ../sass/_clases.scss */
.box {
  position: relative;
  width: 60%;
  background: #d8d6cc;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  padding: 2em 1.5em;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin: 60px auto;
}
/* line 72, ../sass/_clases.scss */
.box:before, .box:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 0.9375em;
  left: 0.625em;
  width: 50%;
  top: 80%;
  max-width: 18.75em;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0.9375em 0.625em rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0.9375em 0.625em rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.9375em 0.625em rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 92, ../sass/_clases.scss */
.box:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 0.625em;
  left: auto;
}

/* line 103, ../sass/_clases.scss */
.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  /* Required for IE8 */
  -o-text-overflow: ellipsis;
  /* Required for Opera */
  text-overflow: ellipsis;
}

/* line 113, ../sass/_clases.scss */
.poema {
  margin: auto;
  padding: 1.25em 0;
  text-align: left;
  font-style: italic;
}
/* line 119, ../sass/_clases.scss */
.poema h1, .poema h2 {
  font-weight: normal;
  text-align: center;
}
/* line 123, ../sass/_clases.scss */
.poema h1 {
  font-size: 2.125em;
  line-height: 1.2;
  margin-bottom: 0.625em;
}
/* line 128, ../sass/_clases.scss */
.poema h2 {
  color: #666;
  font-size: 1.125em;
  font-style: italic;
  margin-bottom: 0.3125em;
}
/* line 134, ../sass/_clases.scss */
.poema p {
  line-height: 1.2;
  margin-bottom: 0.5em;
}
/* line 139, ../sass/_clases.scss */
.poema h2:before {
  content: '— ';
}
/* line 142, ../sass/_clases.scss */
.poema h2:after {
  content: ' —';
}
/* line 145, ../sass/_clases.scss */
.poema h2 + p:first-letter {
  float: left;
  font-size: 2.375em;
  line-height: 1;
  margin: 0.125em 0.3125em 0 0;
}
/* line 153, ../sass/_clases.scss */
.poema p:first-line {
  letter-spacing: 0.0625em;
}
/* line 157, ../sass/_clases.scss */
.poema p:last-child {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
}

/* line 165, ../sass/_clases.scss */
.firma {
  text-align: right;
}

/* line 170, ../sass/_clases.scss */
.fallecidos {
  text-indent: 1.5em;
}
/* line 172, ../sass/_clases.scss */
.fallecidos:after {
  content: "\205C";
}

/* line 178, ../sass/_clases.scss */
.cita {
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.5em 2.5em;
  line-height: 1.45;
  position: relative;
  color: #383838;
}
/* line 189, ../sass/_clases.scss */
.cita:before {
  display: block;
  content: "\275D";
  font-size: 5em;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
/* line 201, ../sass/_clases.scss */
.cita footer {
  color: #999999;
  font-size: 14px;
  margin-top: 5px;
  text-align: right;
}
/* line 209, ../sass/_clases.scss */
.cita footer:before {
  content: "\2014 ";
}

/* line 4, ../sass/_elementos.scss */
a:link {
  color: black;
  text-decoration: none;
  transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -webkit-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -moz-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -ms-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -o-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
}

/* line 14, ../sass/_elementos.scss */
a:active {
  color: black;
  text-decoration: none;
}

/* line 19, ../sass/_elementos.scss */
a:visited {
  color: black;
  text-decoration: none;
}

/* line 27, ../sass/_elementos.scss */
a:hover {
  color: black;
  text-decoration: underline;
}

/* line 34, ../sass/_elementos.scss */
html {
  font-size: 16px;
  font-family: cantarell, sans-serif;
  line-height: 1.22em;
}

/* line 41, ../sass/_elementos.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 47, ../sass/_elementos.scss */
h1, h22, h3, h4, h5, h6 {
  padding: 0.3125em 0;
}

/* line 3, ../sass/estilos/_banner.scss */
section#banner {
  background-image: url(../img/cabecera.png);
  background-repeat: no-repeat;
  min-height: 125px;
}
/* line 10, ../sass/estilos/_banner.scss */
section#banner section#caja {
  text-align: center;
  max-height: 125px;
}
/* line 14, ../sass/estilos/_banner.scss */
section#banner section#caja section#acceso {
  min-height: 42px;
}
/* line 18, ../sass/estilos/_banner.scss */
section#banner section#caja section#social {
  min-height: 42px;
}
/* line 22, ../sass/estilos/_banner.scss */
section#banner section#caja section#contacto {
  min-height: 41px;
}

/* line 8, ../sass/estilos/_buscador.scss */
section#acceso {
  padding-right: 8px;
}
/* line 11, ../sass/estilos/_buscador.scss */
section#acceso * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 13, ../sass/estilos/_buscador.scss */
section#acceso *:after, section#acceso *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 17, ../sass/estilos/_buscador.scss */
section#acceso .ct-connect {
  float: right;
  height: 2.125em;
  margin: 0.9375em 0 0 0;
  padding: 0;
}
/* line 23, ../sass/estilos/_buscador.scss */
section#acceso .ct-connect li {
  float: left;
}
/* line 25, ../sass/estilos/_buscador.scss */
section#acceso .ct-connect li a {
  color: #fff;
  display: block;
  height: 2.125em;
  line-height: 32px;
  margin: 0 0.125em;
  /*    outline: none;*/
  position: relative;
  text-align: center;
  width: 2.125em;
}
/* line 38, ../sass/estilos/_buscador.scss */
section#acceso .ct-connect li a:before {
  font: 400 16px "entypo";
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
/* line 48, ../sass/estilos/_buscador.scss */
section#acceso .ct-icon-search:before {
  font: 400 16px "entypo";
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-size: 19.2px;
  font-weight: 700;
  content: "\1F50D";
}
/* line 85, ../sass/estilos/_buscador.scss */
section#acceso .ct-icon-search {
  color: #c2beaf;
  background-color: transparent;
  z-index: 90;
  cursor: pointer;
  display: block;
  height: 2.125em;
  line-height: 32px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.125em;
  font-size: 14.4px;
}
/* line 101, ../sass/estilos/_buscador.scss */
section#acceso input[type="submit"].buscador-submit {
  cursor: pointer;
  display: block;
  height: 2.125em;
  line-height: 32px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.125em;
}
/* line 113, ../sass/estilos/_buscador.scss */
section#acceso .ct-icon-search {
  font-family: 'entypo';
}
/* line 130, ../sass/estilos/_buscador.scss */
section#acceso .buscador {
  float: right;
  height: 2.125em;
  margin: 16px 0 0;
  position: relative;
  width: 2.125em;
  z-index: 100000;
}
/* line 147, ../sass/estilos/_buscador.scss */
section#acceso .buscador-entrada-texto {
  height: 2.125em;
  overflow: hidden;
  position: absolute;
  right: 2.125em;
  width: 0;
  transition: width 200ms;
  -moz-transition: width 200ms;
  -webkit-transition: width 200ms;
}
/* line 157, ../sass/estilos/_buscador.scss */
section#acceso .buscador-entrada-texto::-webkit-input-placeholder, section#acceso .buscador-entrada-texto:-moz-placeholder, section#acceso .buscador-entrada-texto::-moz-placeholder, section#acceso .buscador-entrada-texto:-ms-input-placeholder {
  color: #c2beaf;
}
/* line 164, ../sass/estilos/_buscador.scss */
section#acceso .buscador.buscador-open .ct-icon-search {
  background: #918b74;
  color: white;
  pointer-events: none;
  z-index: 1;
}
/* line 170, ../sass/estilos/_buscador.scss */
section#acceso .buscador.buscador-open .buscador-entrada-texto {
  width: 14.625em;
}
/* line 175, ../sass/estilos/_buscador.scss */
section#acceso .buscador.buscador-open input[type="submit"].buscador-submit {
  z-index: 90;
}
/* line 178, ../sass/estilos/_buscador.scss */
section#acceso .buscador.buscador-open input[type="text"].buscador-input {
  opacity: 1;
}
/* line 196, ../sass/estilos/_buscador.scss */
section#acceso input[type="submit"].buscador-submit {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: transparent;
  /*    outline: none;*/
  padding: 0;
  z-index: -1;
}
/* line 206, ../sass/estilos/_buscador.scss */
section#acceso input[type="text"].buscador-input {
  background: white;
  border: none;
  height: 2.125em;
  margin: 0;
  opacity: 0;
  /*    outline: none;*/
  padding: 0.125em 0.4375em;
  width: 16.75em;
}

/* line 10, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu {
  height: 2em;
  -moz-border-radius-topleft: 0.5625em;
  -webkit-border-top-left-radius: 0.5625em;
  border-top-left-radius: 0.5625em;
  -moz-border-radius-topright: 0.5625em;
  -webkit-border-top-right-radius: 0.5625em;
  border-top-right-radius: 0.5625em;
  background: #fefefe;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#fefefe, #e6e6e6);
  background-image: -moz-linear-gradient(#fefefe, #e6e6e6);
  background-image: -o-linear-gradient(#fefefe, #e6e6e6);
  background-image: linear-gradient(#fefefe, #e6e6e6);
  border-bottom: medium solid #a39579;
  width: 99.9%;
}
/* line 22, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu ul, section#menus nav#cssmenu li, section#menus nav#cssmenu span, section#menus nav#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 27, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu:after, section#menus nav#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
/* line 33, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu a {
  color: black;
  background: transparent;
  display: inline-block;
  line-height: 2em;
  padding: 0 1.25em;
  text-decoration: none;
}
/* line 43, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu ul {
  list-style: none;
  z-index: 1000;
}
/* line 47, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul {
  float: left;
}
/* line 49, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li {
  float: left;
}
/* line 52, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li > a {
  color: black;
  /* font-size: 12px; */
}
/* line 57, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 0.5625em solid transparent;
  border-right: 0.5625em solid transparent;
  border-bottom: 0.5625em solid #a39579;
  margin-left: -0.5625em;
}
/* line 71, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li:first-child > a {
  -webkit-border-radius: 0.3125em 0 0 0;
  -moz-border-radius: 0.3125em 0 0 0;
  border-radius: 0.3125em 0 0 0;
}
/* line 79, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 0.5625em solid transparent;
  border-right: 0.5625em solid transparent;
  border-bottom: 0.5625em solid #a39579;
  margin-left: -0.5625em;
}
/* line 92, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li.active > a {
  background: #eeede9;
  -webkit-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
}
/* line 104, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li:hover > a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeede9), color-stop(100%, #c2beaf));
  background-image: -webkit-linear-gradient(#eeede9, #c2beaf);
  background-image: -moz-linear-gradient(#eeede9, #c2beaf);
  background-image: -o-linear-gradient(#eeede9, #c2beaf);
  background-image: linear-gradient(#eeede9, #c2beaf);
  -webkit-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
}
/* line 119, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub:hover > ul {
  display: block;
}
/* line 122, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 12.5em;
  top: 100%;
  left: 0;
}
/* line 128, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub ul li {
  margin-bottom: -0.0625em;
}
/* line 131, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub ul li a {
  background: #a39579;
  border-bottom: 0.0625em dotted #eeede9;
  filter: none;
  /* font-size: 11px; */
  display: block;
  line-height: 120%;
  padding: 0.5625em;
  color: white;
}
/* line 141, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub ul li:hover a {
  background: #918b74;
}
/* line 147, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
/* line 150, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
/* line 155, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub .has-sub ul li a {
  background: #918b74;
  border-bottom: 1px dotted #eeede9;
}
/* line 158, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub .has-sub ul li a:hover {
  background: #595546;
}

/* line 12, ../sass/estilos/_hormigas.scss */
section#hormiga {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #fefefe));
  background-image: -webkit-linear-gradient(#e6e6e6, #fefefe);
  background-image: -moz-linear-gradient(#e6e6e6, #fefefe);
  background-image: -o-linear-gradient(#e6e6e6, #fefefe);
  background-image: linear-gradient(#e6e6e6, #fefefe);
  border-bottom: medium solid #a39579;
  text-align: left;
}
/* line 17, ../sass/estilos/_hormigas.scss */
section#hormiga ul {
  padding-left: 1.25em;
  list-style: none;
  display: inline-table;
}
/* line 26, ../sass/estilos/_hormigas.scss */
section#hormiga ul li {
  display: inline;
  height: 1em;
}
/* line 27, ../sass/estilos/_hormigas.scss */
section#hormiga ul li:before {
  content: "› ";
  color: #918b74;
}
/* line 33, ../sass/estilos/_hormigas.scss */
section#hormiga ul li a {
  text-decoration: none;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
}
/* line 38, ../sass/estilos/_hormigas.scss */
section#hormiga ul li a:hover {
  background: #c2beaf;
  color: white;
}

/* line 6, ../sass/estilos/_info.scss */
section#info {
  margin: 16px 0 16px 0;
  border: 16px 0 16px 0;
  padding: 1em 1em 1em -1em;
}
/* line 11, ../sass/estilos/_info.scss */
section#info div {
  padding: 1em;
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
  -ms-border-radius: 1.25em;
  -o-border-radius: 1.25em;
  border-radius: 1.25em;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #fcf8e3), color-stop(100%, #f8efc0));
  background-image: -webkit-linear-gradient(left top, #fcf8e3, #f8efc0);
  background-image: -moz-linear-gradient(left top, #fcf8e3, #f8efc0);
  background-image: -o-linear-gradient(left top, #fcf8e3, #f8efc0);
  background-image: linear-gradient(left top, #fcf8e3, #f8efc0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcf8e3), color-stop(0.33, 0%), color-stop(0.67, #f8efc0), to(100%));
  background-repeat: repeat-x;
  border: 0.0625em solid red;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
}
/* line 20, ../sass/estilos/_info.scss */
section#info div p a {
  text-decoration: underline;
}
/* line 25, ../sass/estilos/_info.scss */
section#info#info:empty {
  display: none;
}

/* line 3, ../sass/estilos/_noticias.scss */
section#news {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  padding: .5em;
  margin: .5em;
}
/* line 9, ../sass/estilos/_noticias.scss */
section#news h2 {
  text-align: center;
}
/* line 14, ../sass/estilos/_noticias.scss */
section#news ul li {
  border-left: 0.3125em solid #c2beaf;
  margin: 0.3em 0.3125em;
  padding: 0.3em 0.3125em;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/* line 35, ../sass/estilos/_noticias.scss */
section#news ul li:hover {
  border-left: 0.3125em solid #968f75;
}

/* line 3, ../sass/estilos/_slideshow.scss */
section#slide {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  padding: .5em;
  margin: .5em;
  text-align: center;
  vertical-align: middle;
}

/* line 3, ../sass/estilos/_expo.scss */
section#expo {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  text-align: justify;
  vertical-align: middle;
}
/* line 8, ../sass/estilos/_expo.scss */
section#expo div#expo_sep {
  padding: 0.5em;
  margin: 0.5em;
}

/* line 3, ../sass/estilos/_botones_centrales.scss */
div#ourinfo {
  clear: both;
  text-align: center;
}
/* line 7, ../sass/estilos/_botones_centrales.scss */
div#ourinfo section#where {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  text-align: center;
  vertical-align: middle;
  padding-top: .2em;
  padding-bottom: .2em;
  min-height: 1.5em;
}
/* line 16, ../sass/estilos/_botones_centrales.scss */
div#ourinfo section#services {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  text-align: center;
  vertical-align: middle;
  padding-top: .2em;
  padding-bottom: .2em;
  min-height: 1.5em;
}

/* line 17, ../sass/estilos/_variable_1col.scss */
section#variable_1col {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
/* line 23, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#libro_list {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 30, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#libro_list h1 {
  font-weight: 700;
}
/* line 34, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#libro_list h2 {
  text-align: center;
}
/* line 38, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#libro_list div.ficha {
  overflow: hidden;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e1da), color-stop(100%, #b3af9f));
  background-image: -webkit-linear-gradient(#e3e1da, #b3af9f);
  background-image: -moz-linear-gradient(#e3e1da, #b3af9f);
  background-image: -o-linear-gradient(#e3e1da, #b3af9f);
  background-image: linear-gradient(#e3e1da, #b3af9f);
  margin: 0 auto;
  width: 86%;
}
/* line 51, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#libro_list div.ficha .datos_libro dl {
  width: 100%;
  padding: 0.5em;
}
/* line 55, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#libro_list div.ficha .datos_libro dl dt {
  float: left;
  clear: left;
  width: 24%;
  /* adjust the width; make sure the total of both is 100% */
  text-align: right;
  font-weight: 400;
}
/* line 70, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#libro_list div.ficha .datos_libro dl dd {
  margin-left: 27%;
}
/* line 78, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#libro_list div.ficha .portada_libro img {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  text-align: center;
  max-width: 12.5em;
  max-height: 16.625em;
  margin: auto 0;
}
/* line 91, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 97, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list h1 {
  font-weight: 700;
}
/* line 101, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list h2 {
  text-align: center;
}
/* line 105, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list div.doc {
  margin: 1em;
  border: 1em;
  padding: 1em;
  overflow: hidden;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e1da), color-stop(100%, #b3af9f));
  background-image: -webkit-linear-gradient(#e3e1da, #b3af9f);
  background-image: -moz-linear-gradient(#e3e1da, #b3af9f);
  background-image: -o-linear-gradient(#e3e1da, #b3af9f);
  background-image: linear-gradient(#e3e1da, #b3af9f);
  margin: 0 auto;
  width: 86%;
}
/* line 119, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list div.doc header span#titulo {
  font-weight: 700;
}
/* line 122, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list div.doc header span#autor {
  font-weight: 400;
}
/* line 126, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list div.doc div.documentos_adjuntos {
  margin: 1em;
  border: 1em;
  padding: 1em;
  text-align: center;
}
/* line 135, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list div.doc div.documentos_adjuntos ul.adjuntos li section audio {
  min-width: 20em;
}
/* line 139, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div.documento_list div.doc div.documentos_adjuntos ul.adjuntos li section video {
  outline: #918b74 0.25em solid;
  min-height: 15em;
  min-width: 20em;
}
/* line 151, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#citade {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 158, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#citade h1 {
  font-weight: 700;
}
/* line 163, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#citasobre {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 170, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#citasobre h1 {
  font-weight: 700;
}

/* line 177, ../sass/estilos/_variable_1col.scss */
div.paginator {
  background-color: transparent;
  text-align: center;
  padding-bottom: 0.625em;
}

/* line 20, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  text-align: justify;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em 0px 1em 1em;
}
/* line 30, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n h1 {
  font-weight: 700;
}
/* line 34, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n hr {
  color: #eeede9;
}
/* line 38, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n figure {
  float: right;
  text-align: center;
  padding: 0.5em;
  border-bottom: #c2beaf 1px solid;
}
/* line 54, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n p {
  padding-bottom: 1em;
}
/* line 57, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n dl {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
/* line 59, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n dl dt {
  font-weight: 700;
  padding-top: 1em;
}
/* line 63, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n dl dd {
  text-indent: 1.5em;
}
/* line 65, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n dl dd:before {
  content: "\25B9\00A0";
}
/* line 72, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#img_logo {
  text-align: center;
}
/* line 75, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo {
  text-align: center;
}
/* line 77, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo table {
  margin: 0 auto;
  text-align: center;
  width: 98%;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid #333333;
  border-collapse: collapse;
}
/* line 86, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo td, section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo th {
  border-bottom: 1px solid #333333;
  padding: 6px 16px;
  text-align: left;
}
/* line 91, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo th {
  background: #EEEEEE;
}
/* line 94, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo caption {
  background: #E0E0E0;
  margin: 0;
  border: 1px solid #333333;
  border-bottom: none;
  padding: 6px 16px;
  font-weight: bold;
}
/* line 102, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo .p341 {
  background-color: #007A53;
  color: #FFFFFF;
}
/* line 106, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo .p032 {
  background-color: #EF3340;
  color: #FFFFFF;
}
/* line 110, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo .p012 {
  background-color: #FFD700;
  color: #000000;
}
/* line 114, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n div#grp_logo div#colores_logo .p2587 {
  background-color: #8246AF;
  color: #FFFFFF;
}
/* line 122, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.presencia {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  text-align: justify;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em 0px 1em 1em;
}
/* line 132, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.presencia h1 {
  font-weight: 700;
  padding-bottom: 2em;
}
/* line 136, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.presencia dl dt figure {
  text-align: center;
}
/* line 138, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.presencia dl dt figure img {
  width: inherit;
  height: inherit;
  max-width: 16.6875em;
  max-height: 12.5em;
}
/* line 148, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.presencia dl dd {
  border: 0 1em;
}
/* line 150, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.presencia dl dd h2 {
  font-weight: 700;
  text-align: inherit;
  font-size: inherit;
}
/* line 157, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.presencia dl hr {
  color: #eeede9;
}
/* line 164, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.evento {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 170, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.evento h1 {
  color: white;
  background-color: #918b74;
  padding-left: 1em;
}
/* line 176, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.evento figure img {
  width: 100%;
}
/* line 178, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.evento figure figcaption h2 {
  padding-left: 1em;
  color: white;
  background-color: #918b74;
}
/* line 183, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.evento figure figcaption h2 span a {
  color: white;
}
/* line 186, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.evento figure figcaption button {
  text-align: right;
}
/* line 193, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.zinnia {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}

/* line 5, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial section#body {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
/* line 9, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial section#body div#space {
  max-width: 100%;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 17, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial section#body div#space section#bodyleft {
  width: 43.18182%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 21, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial section#body div#space section#bodyright {
  width: 54.54545%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 27, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 35, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#agenda {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 43, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#agenda h2 {
  text-align: center;
}
/* line 49, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 58, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios section#internal {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 66, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios section#internal h2 {
  text-align: center;
}
/* line 71, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios section#externas {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 79, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios section#externas h2 {
  text-align: center;
}
/* line 85, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#banner2 {
  text-align: center;
  width: 100%;
}

/* line 28, ../sass/estilos/_agenda.scss */
section#agenda {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #c1b7a4;
  padding: 0.5em;
  margin: 0.5em;
  color: black;
  background-color: transparent;
}
/* line 38, ../sass/estilos/_agenda.scss */
section#agenda h2 {
  text-align: center;
}
/* line 44, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos div {
  text-align: center;
  padding: 0 0 0.3125em 0;
}
/* line 49, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos div span a {
  text-decoration: none;
}
/* line 59, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table thead tr {
  padding: 0 0 0.3125em 0;
}
/* line 61, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table thead tr th {
  width: 14%;
  background-color: #918b74;
  color: white;
  font-weight: 700;
  text-align: center;
  border-left-color: #666666;
  border-left-style: solid;
  border-left-width: 0.03125em;
}
/* line 78, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.sin_dia {
  background-color: transparent;
}
/* line 81, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.sin_dia span {
  color: transparent;
}
/* line 85, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.dia {
  text-align: right;
  background-color: #eeede9;
  color: black;
}
/* line 90, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.dia:hover {
  background-color: #c2beaf;
}
/* line 94, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.actual {
  text-align: right;
  background-color: #eeede9;
  color: black;
}
/* line 98, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.actual span {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: red;
  border-width: 0.03125em;
}
/* line 104, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.actual:hover {
  background-color: #c2beaf;
}
/* line 108, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento {
  text-align: right;
  background-color: #d5d2c9;
  color: black;
}
/* line 112, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento span {
  text-decoration: none;
}
/* line 114, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento span:hover {
  color: #1a1a1a;
}
/* line 118, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento:hover {
  background-color: #bebbad;
}
/* line 122, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento_hoy {
  text-align: right;
  background-color: #eeede9;
  color: black;
}
/* line 127, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento_hoy span {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: red;
  border-width: 0.0625em;
  background-color: #bebbad;
  text-decoration: none;
}
/* line 134, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento_hoy span:hover {
  background-color: #918b74;
  color: Red;
}
/* line 140, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento_hoy:hover {
  background-color: #eeede9;
}

/* line 5, ../sass/estilos/_eventos.scss */
section#varios {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid #c1b7a4;
  padding: .2em;
  margin: .5em;
}
/* line 11, ../sass/estilos/_eventos.scss */
section#varios section#internal {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid #c1b7a4;
  padding: 0.3125em;
  margin: 0.3125em;
}
/* line 16, ../sass/estilos/_eventos.scss */
section#varios section#internal h2 {
  text-align: center;
}
/* line 21, ../sass/estilos/_eventos.scss */
section#varios section#externas {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid #c1b7a4;
  padding: 0.3125em;
  margin: 0.3125em;
}
/* line 26, ../sass/estilos/_eventos.scss */
section#varios section#externas h2 {
  text-align: center;
}

/* line 15, ../sass/estilos/_footer.scss */
footer#footer {
  color: black;
  background-color: #c6c1b3;
  border-top: medium solid #918b74;
  border-bottom: medium solid #918b74;
  text-align: center;
  border: 0 1em 0 1em;
}
/* line 23, ../sass/estilos/_footer.scss */
footer#footer div#finicial {
  min-height: 2em;
}
/* line 27, ../sass/estilos/_footer.scss */
footer#footer div#enlaces div#col1, footer#footer div#enlaces div#col2, footer#footer div#enlaces div#col3, footer#footer div#enlaces div#col4, footer#footer div#enlaces div#col5 {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 0 1em;
}
/* line 32, ../sass/estilos/_footer.scss */
footer#footer div#enlaces div#col1 ul li a, footer#footer div#enlaces div#col2 ul li a, footer#footer div#enlaces div#col3 ul li a, footer#footer div#enlaces div#col4 ul li a, footer#footer div#enlaces div#col5 ul li a {
  color: #918b74;
  background-color: transparent;
  text-decoration: none;
}
/* line 38, ../sass/estilos/_footer.scss */
footer#footer div#enlaces div#col1 ul li:hover, footer#footer div#enlaces div#col2 ul li:hover, footer#footer div#enlaces div#col3 ul li:hover, footer#footer div#enlaces div#col4 ul li:hover, footer#footer div#enlaces div#col5 ul li:hover {
  color: #75705d;
  background-color: transparent;
  text-decoration: underline;
}
/* line 49, ../sass/estilos/_footer.scss */
footer#footer div#ffinal {
  min-height: 2em;
}
/* line 54, ../sass/estilos/_footer.scss */
footer#footer div#legal {
  text-align: right;
  font-size: 0.875em;
  color: #e6e6e6;
  background-color: #bbb5a4;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* -------------------------------------------------------------------------*/
/* line 48, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 60em;
  _width: 60em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1.5625em, rgba(0, 0, 0, 0.2) 0 0 0.1875em 0.0625em inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1.5625em, rgba(0, 0, 0, 0.2) 0 0 0.1875em 0.0625em inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 1.5625em, rgba(0, 0, 0, 0.2) 0 0 0.1875em 0.0625em inset;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 57, ../sass/screen.scss */
.container header section#banner section#relleno {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 61, ../sass/screen.scss */
.container header section#banner section#caja {
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 64, ../sass/screen.scss */
.container header section#banner section#caja section#acceso {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 69, ../sass/screen.scss */
.container header section#banner section#caja section#social {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 73, ../sass/screen.scss */
.container header section#banner section#caja section#contacto {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 79, ../sass/screen.scss */
.container header section#menus {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 124, ../sass/screen.scss */
.container div.content {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 128, ../sass/screen.scss */
.container div.content section#hormiga {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 150, ../sass/screen.scss */
.container div.content section#info {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 154, ../sass/screen.scss */
.container div.content section#variable {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 157, ../sass/screen.scss */
.container div.content section#variable aside#asidel {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 177, ../sass/screen.scss */
.container div.content section#variable section#body {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
/* line 184, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 187, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo section#where {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 191, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo section#services {
  width: 48.27586%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 203, ../sass/screen.scss */
.container div.content section#variable aside#asider {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 217, ../sass/screen.scss */
.container div.content section#variable_1col section#body {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 222, ../sass/screen.scss */
.container div.content section#variable_1col section#body div#libro_list div.ficha div.portada_libro {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 225, ../sass/screen.scss */
.container div.content section#variable_1col section#body div#libro_list div.ficha div.datos_libro {
  width: 65.51724%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 238, ../sass/screen.scss */
.container div.content section#variable_2col section#body {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 243, ../sass/screen.scss */
.container div.content section#variable_2col section#body div.presencia dl dt {
  width: 54.54545%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 246, ../sass/screen.scss */
.container div.content section#variable_2col section#body div.presencia dl dd {
  width: 43.18182%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 254, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 273, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 278, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body div#space section#bodyleft {
  width: 43.18182%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
}
/* line 282, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body div#space section#bodyright {
  width: 54.54545%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 290, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 316, ../sass/screen.scss */
.container footer#footer {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 319, ../sass/screen.scss */
.container footer#footer div#finicial {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 323, ../sass/screen.scss */
.container footer#footer div#col1, .container footer#footer div#col2, .container footer#footer div#col3, .container footer#footer div#col4 {
  width: 16.66667%;
  float: left;
  margin-right: 4.16667%;
  display: inline;
}
/* line 327, ../sass/screen.scss */
.container footer#footer div#col5 {
  width: 16.66667%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 331, ../sass/screen.scss */
.container footer#footer div#ffinal {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 336, ../sass/screen.scss */
.container footer#footer div#legal {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
@media print {
  /* line 48, ../sass/screen.scss */
  .container {
    background-color: Maroon;
  }
}
@media screen and (max-width: 480px) {
  /* line 48, ../sass/screen.scss */
  .container {
    background-color: Blue;
  }
}
@media screen and (max-width: 320px) {
  /* line 48, ../sass/screen.scss */
  .container {
    background-color: Red;
  }
}
