html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ******************************************************************
 * Mixins principal
 *
 * grid/mixins
 *
********************************************************************* */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

@font-face {
  font-family: SFSpeakeasyRegular;
  font-style: normal;
  font-weight: 400;
  src: url(font/sf-speakeasy/SF_Speakeasy-webfont.eot?#iefix) format(embedded-opentype), url(font/sf-speakeasy/SF_Speakeasy-webfont.woff) format(woff), url(font/sf-speakeasy/SF_Speakeasy-webfont.ttf) format(truetype), url(font/sf-speakeasy/SF_Speakeasy-webfont.svg#SFSpeakeasyRegular) format(svg);
}

a {
  color: #294d5b;
  transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -webkit-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -moz-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -ms-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -o-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
}

a:hover {
  color: #183c4a;
}

body {
  background: #8ea797 url(../img/bg.png);
}

h1, h2 {
  font-family: SFSpeakeasyRegular, cursive;
  font-weight: 700;
}

.container {
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-animation-property: 0;
  -moz-animation-property: 0;
  -o-animation-property: 0;
}

#head {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-animation-property: 0;
  -moz-animation-property: 0;
  -o-animation-property: 0;
}

.header-container {
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -webkit-animation-property: 0;
  -moz-animation-property: 0;
  -o-animation-property: 0;
}

.ribbon {
  background-color: #784421;
}

/* Layout */
.container {
  *zoom: 1;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
  *zoom: 1;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.container section#head header.header-container div.ribbon_container {
  background-color: red;
}
.container section#head header.header-container div.menubox {
  clear: both;
}
.container section#head header.header-container div.menubox div.mymenus nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
.container section#head header.header-container div.menubox div.mymenus nav ul > li {
  display: block;
  float: left;
  padding-left: .25em;
  padding-right: .25em;
}
.container section#head header.header-container div.menubox div.mymenus nav ul > li:last-child {
  margin-right: 0;
}
.container section#head header.header-container div.menubox div.mymenus nav ul > li.current {
  color: red !important;
}
.container section#head header.header-container div.menubox div.mymenus nav ul > li.current:hover {
  background-color: blue;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
