@charset "UTF-8";
/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "sf-speakeasy";
  src: url('fonts/sf-speakeasy/SF_Speakeasy-webfont.eot');
  src: url('fonts/sf-speakeasy/SF_Speakeasy-webfont.eot?#iefix') format('eot'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.woff') format('woff'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.ttf') format('truetype'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.svg') format('svg');
}

@font-face {
  font-family: "glyphicons";
  src: url('fonts/glyphicons/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('eot'), url('fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons/glyphicons-halflings-regular.svg') format('svg');
}

@font-face {
  font-family: "tron";
  src: url('fonts/tron/tron-webfont.eot');
  src: url('fonts/tron/tron-webfont.eot?#iefix') format('eot'), url('fonts/tron/tron-webfont.woff') format('woff'), url('fonts/tron/tron-webfont.ttf') format('truetype'), url('fonts/tron/tron-webfont.svg') format('svg');
}

/* line 124, ../sass/_base.scss */
.sf-speakeasy {
  font-family: "sf-speakeasy";
}

/* line 128, ../sass/_base.scss */
.glyphicons {
  font-family: "glyphicons";
}

/* line 132, ../sass/_base.scss */
.tron {
  font-family: "tron";
}

/* line 138, ../sass/_base.scss */
.opensans {
  font-family: 'Open Sans', sans-serif;
}

/* line 142, ../sass/_base.scss */
.cantarell {
  font-family: 'Cantarell', sans-serif;
}

/* line 3, ../sass/estilos/_banner.scss */
section#banner {
  background-image: url(../img/cabecera.png);
  background-repeat: no-repeat;
  min-height: 125px;
}
/* line 10, ../sass/estilos/_banner.scss */
section#banner section#caja {
  text-align: center;
  max-height: 125px;
}
/* line 14, ../sass/estilos/_banner.scss */
section#banner section#caja section#acceso {
  min-height: 42px;
}
/* line 18, ../sass/estilos/_banner.scss */
section#banner section#caja section#social {
  min-height: 42px;
}
/* line 22, ../sass/estilos/_banner.scss */
section#banner section#caja section#contacto {
  min-height: 41px;
}

/* line 1, ../sass/estilos/_menus.scss */
section#menus {
  background-color: #fefefe;
}
/* line 4, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu {
  height: 3.0625em;
  -moz-border-radius-topleft: 0.625em;
  -webkit-border-top-left-radius: 0.625em;
  border-top-left-radius: 0.625em;
  -moz-border-radius-topright: 0.625em;
  -webkit-border-top-right-radius: 0.625em;
  border-top-right-radius: 0.625em;
  background: #fefefe;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#fefefe, #e6e6e6);
  background-image: -moz-linear-gradient(#fefefe, #e6e6e6);
  background-image: -o-linear-gradient(#fefefe, #e6e6e6);
  background-image: linear-gradient(#fefefe, #e6e6e6);
  border-bottom: 0.125em solid #a39579;
  width: auto;
}
/* line 16, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu ul, section#menus nav#cssmenu li, section#menus nav#cssmenu span, section#menus nav#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 21, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu:after, section#menus nav#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
/* line 27, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu a {
  color: black;
  background: transparent;
  display: inline-block;
  line-height: 3.0625em;
  padding: 0 1.25em;
  text-decoration: none;
}
/* line 37, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu ul {
  list-style: none;
  z-index: 1000;
}
/* line 41, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul {
  float: left;
}
/* line 43, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li {
  float: left;
}
/* line 46, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li > a {
  color: black;
  /* font-size: 12px; */
}
/* line 51, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-bottom: 0.625em solid #a39579;
  margin-left: -0.625em;
}
/* line 65, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li:first-child > a {
  -webkit-border-radius: 0.3125em 0 0 0;
  -moz-border-radius: 0.3125em 0 0 0;
  border-radius: 0.3125em 0 0 0;
}
/* line 73, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-bottom: 0.625em solid #a39579;
  margin-left: -0.625em;
}
/* line 86, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li.active > a {
  background: #eeede9;
  -webkit-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
}
/* line 98, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu > ul > li:hover > a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeede9), color-stop(100%, #c2beaf));
  background-image: -webkit-linear-gradient(#eeede9, #c2beaf);
  background-image: -moz-linear-gradient(#eeede9, #c2beaf);
  background-image: -o-linear-gradient(#eeede9, #c2beaf);
  background-image: linear-gradient(#eeede9, #c2beaf);
  -webkit-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
}
/* line 113, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub:hover > ul {
  display: block;
}
/* line 116, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 12.5em;
  top: 100%;
  left: 0;
}
/* line 122, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub ul li {
  *margin-bottom: -0.0625em;
}
/* line 124, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub ul li a {
  background: #a39579;
  border-bottom: 0.0625em dotted #eeede9;
  filter: none;
  /* font-size: 11px; */
  display: block;
  line-height: 120%;
  padding: 0.625em;
  color: white;
}
/* line 134, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub ul li:hover a {
  background: #918b74;
}
/* line 140, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
/* line 143, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
/* line 148, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub .has-sub ul li a {
  background: #918b74;
  border-bottom: 1px dotted #eeede9;
}
/* line 151, ../sass/estilos/_menus.scss */
section#menus nav#cssmenu .has-sub .has-sub ul li a:hover {
  background: #595546;
}

/* line 12, ../sass/estilos/_hormigas.scss */
section#hormiga {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #fefefe));
  background-image: -webkit-linear-gradient(#e6e6e6, #fefefe);
  background-image: -moz-linear-gradient(#e6e6e6, #fefefe);
  background-image: -o-linear-gradient(#e6e6e6, #fefefe);
  background-image: linear-gradient(#e6e6e6, #fefefe);
  border-bottom: 0.125em solid #a39579;
  text-align: left;
}
/* line 16, ../sass/estilos/_hormigas.scss */
section#hormiga ul {
  padding-left: 1.25em;
  list-style: none;
  display: inline-table;
}
/* line 25, ../sass/estilos/_hormigas.scss */
section#hormiga ul li {
  display: inline;
  height: 1em;
}
/* line 26, ../sass/estilos/_hormigas.scss */
section#hormiga ul li:before {
  content: "› ";
  color: #918b74;
}
/* line 32, ../sass/estilos/_hormigas.scss */
section#hormiga ul li a {
  text-decoration: none;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
}
/* line 37, ../sass/estilos/_hormigas.scss */
section#hormiga ul li a:hover {
  background: #c2beaf;
  color: white;
}

/* line 3, ../sass/estilos/_noticias.scss */
section#news {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .5em;
  margin: .5em;
  border: 1px solid #c1b7a4;
}
/* line 9, ../sass/estilos/_noticias.scss */
section#news h2 {
  text-align: center;
}
/* line 17, ../sass/estilos/_noticias.scss */
section#news ul li a:hover:before {
  background-color: #595546;
  content: " ";
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.3125em;
  border-radius: 0.15625em;
  box-shadow: inset 0 0.0625em 0.0625em rgba(0, 0, 0, 0.5), 0 0.0625em 0.0625em rgba(255, 255, 255, 0.3);
}
/* line 31, ../sass/estilos/_noticias.scss */
section#news ul li:hover:before {
  background-color: #c2beaf;
  color: #918b74;
  content: "\2023";
  left: 0;
  top: 0;
  bottom: inherit;
  width: 0.3125em;
  padding-left: -em(15px);
}

/* line 3, ../sass/estilos/_slideshow.scss */
section#slide {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  text-align: center;
  vertical-align: middle;
  padding: .2em;
  margin: .2em;
}

/* line 3, ../sass/estilos/_expo.scss */
section#expo {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  text-align: center;
  vertical-align: middle;
  padding: .2em;
  margin: .2em;
}

/* line 3, ../sass/estilos/_botones_centrales.scss */
div#ourinfo {
  clear: both;
  text-align: center;
}
/* line 7, ../sass/estilos/_botones_centrales.scss */
div#ourinfo section#where {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  text-align: center;
  vertical-align: middle;
  padding-top: .2em;
  padding-bottom: .2em;
  min-height: 1.5em;
}
/* line 16, ../sass/estilos/_botones_centrales.scss */
div#ourinfo section#services {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  text-align: center;
  vertical-align: middle;
  padding-top: .2em;
  padding-bottom: .2em;
  min-height: 1.5em;
}

/* line 3, ../sass/estilos/_variable_1col.scss */
section#variable_1col {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 8, ../sass/estilos/_variable_1col.scss */
section#variable_1col section#body div#space {
  max-width: 100%;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}

/* line 13, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body {
  text-align: justify;
}
/* line 16, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 28, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n h1 {
  font-weight: 700;
}
/* line 32, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n img {
  position: relative;
  padding: 0 1em 1em 0;
}
/* line 15, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-recipes-0.3.0/stylesheets/recipes/shadow/drop/_transform-requirement.scss */
section#variable_2col section#body div.flatpage-i18n img > :last-child::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
}
/* line 37, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n p {
  padding-bottom: 1em;
}
/* line 40, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n dl {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 42, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n dl dt {
  font-weight: 700;
  padding-top: 1em;
}
/* line 46, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n dl dd {
  text-indent: 1.5em;
}
/* line 48, ../sass/estilos/_variable_2col.scss */
section#variable_2col section#body div.flatpage-i18n dl dd:before {
  content: "\261E ";
}

/* line 5, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial section#body {
  width: 74.76636%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 11, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial section#body div#space {
  max-width: 100%;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 19, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial section#body div#space section#bodyleft {
  width: 43.75%;
  float: left;
  margin-right: 1.25%;
  display: inline;
}
/* line 23, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial section#body div#space section#bodyright {
  width: 55.0%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 29, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 37, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#agenda {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 45, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#agenda h2 {
  text-align: center;
}
/* line 51, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 60, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios section#internal {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 68, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios section#internal h2 {
  text-align: center;
}
/* line 73, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios section#externas {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 81, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#varios section#externas h2 {
  text-align: center;
}
/* line 87, ../sass/estilos/_variable_2col_especial.scss */
section#variable_2col_especial aside#asider section#banner2 {
  text-align: center;
  width: 100%;
}

/* line 4, ../sass/estilos/_agenda.scss */
section#agenda {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .5em;
  margin: .5em;
}
/* line 9, ../sass/estilos/_agenda.scss */
section#agenda h2 {
  text-align: center;
}
/* line 15, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos div {
  text-align: center;
  padding: 0 0 0.3125em 0;
}
/* line 19, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos div span a {
  text-decoration: none;
}
/* line 29, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table thead tr {
  padding: 0 0 0.3125em 0;
}
/* line 31, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table thead tr th {
  width: 14%;
  background-color: #918b74;
  color: white;
}
/* line 39, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody {
  background-color: whitesmoke;
}
/* line 42, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.sin_dia {
  text-align: right;
}
/* line 45, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.dia {
  text-align: right;
}
/* line 51, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.actual {
  text-align: right;
}
/* line 53, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.actual span {
  -webkit-border-radius: 0.1875em;
  -moz-border-radius: 0.1875em;
  -ms-border-radius: 0.1875em;
  -o-border-radius: 0.1875em;
  border-radius: 0.1875em;
  background-color: transparent;
  color: black;
  border-style: solid;
  border-color: red;
  border-width: 0.0625em;
}
/* line 62, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento {
  text-align: right;
}
/* line 64, ../sass/estilos/_agenda.scss */
section#agenda div.calendario_eventos table tbody tr td.evento span {
  -webkit-border-radius: 0.1875em;
  -moz-border-radius: 0.1875em;
  -ms-border-radius: 0.1875em;
  -o-border-radius: 0.1875em;
  border-radius: 0.1875em;
  background-color: #918b74;
  color: white;
}

/* line 5, ../sass/estilos/_eventos.scss */
section#varios {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  padding: .2em;
  margin: .5em;
}
/* line 11, ../sass/estilos/_eventos.scss */
section#varios section#internal {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  padding: 0.3125em;
  margin: 0.3125em;
}
/* line 16, ../sass/estilos/_eventos.scss */
section#varios section#internal h2 {
  text-align: center;
}
/* line 21, ../sass/estilos/_eventos.scss */
section#varios section#externas {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  padding: 0.3125em;
  margin: 0.3125em;
}
/* line 26, ../sass/estilos/_eventos.scss */
section#varios section#externas h2 {
  text-align: center;
}

/* line 3, ../sass/estilos/_footer.scss */
footer#footer {
  background-color: #c6c1b3;
}
/* line 6, ../sass/estilos/_footer.scss */
footer#footer div#finicial {
  min-height: 2em;
}
/* line 10, ../sass/estilos/_footer.scss */
footer#footer div#col1 {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 14, ../sass/estilos/_footer.scss */
footer#footer div#col2 {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 19, ../sass/estilos/_footer.scss */
footer#footer div#col3 {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 23, ../sass/estilos/_footer.scss */
footer#footer div#col4 {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 27, ../sass/estilos/_footer.scss */
footer#footer div#ffinal {
  min-height: 2em;
}
/* line 32, ../sass/estilos/_footer.scss */
footer#footer div#legal {
  text-align: right;
}

/* line 5, ../sass/_clases.scss */
.poema {
  margin: auto;
  padding: 1.25em 0;
  text-align: left;
  width: 24.375em;
}
/* line 10, ../sass/_clases.scss */
.poema h1, .poema h2 {
  font-weight: normal;
  text-align: center;
}
/* line 14, ../sass/_clases.scss */
.poema h1 {
  font-size: 2.125em;
  line-height: 1.2;
  margin-bottom: 0.625em;
}
/* line 19, ../sass/_clases.scss */
.poema h2 {
  color: #666;
  font-size: 1.125em;
  font-style: italic;
  margin-bottom: 1.875em;
}
/* line 25, ../sass/_clases.scss */
.poema p {
  line-height: 1.5;
  margin-bottom: 0.9375em;
}
/* line 30, ../sass/_clases.scss */
.poema h2:before {
  content: '— ';
}
/* line 33, ../sass/_clases.scss */
.poema h2:after {
  content: ' —';
}
/* line 36, ../sass/_clases.scss */
.poema h2 + p:first-letter {
  float: left;
  font-size: 2.375em;
  line-height: 1;
  margin: 0.125em 0.3125em 0 0;
}
/* line 44, ../sass/_clases.scss */
.poema p:first-line {
  font-variant: small-caps;
  letter-spacing: 0.0625em;
}
/* line 48, ../sass/_clases.scss */
.poema p:last-child {
  margin-bottom: 1.875em;
  padding-bottom: 1.875em;
}

/* line 56, ../sass/_clases.scss */
.firma {
  text-align: right;
}

/* line 61, ../sass/_clases.scss */
.fallecidos {
  text-indent: 1.5em;
}
/* line 63, ../sass/_clases.scss */
.fallecidos:after {
  content: "\205C";
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* -------------------------------------------------------------------------*/
/* line 38, ../sass/screen.scss */
a:link {
  color: black;
  text-decoration: none;
  transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -webkit-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -moz-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -ms-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -o-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
}

/* line 48, ../sass/screen.scss */
a:active {
  color: black;
  text-decoration: none;
}

/* line 53, ../sass/screen.scss */
a:visited {
  color: black;
  text-decoration: none;
}

/* line 58, ../sass/screen.scss */
a:hover {
  color: black;
  text-decoration: underline;
}

/* line 63, ../sass/screen.scss */
html {
  font-size: 16px;
  font-family: cantarell, sans-serif;
  line-height: normal;
}

/* line 70, ../sass/screen.scss */
h1 {
  padding: 0.3125em 0;
}

/* line 76, ../sass/screen.scss */
h2 {
  padding: 0.3125em 0;
}

/* line 82, ../sass/screen.scss */
h3 {
  padding: 0.3125em 0;
}

/* line 88, ../sass/screen.scss */
h4 {
  padding: 0.3125em 0;
}

/* line 94, ../sass/screen.scss */
h5 {
  padding: 0.3125em 0;
}

/* line 100, ../sass/screen.scss */
h6 {
  padding: 0.3125em 0;
}

/* line 106, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 60em;
  _width: 60em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(7.47664%, rgba(100, 100, 225, 0.25)), color-stop(7.47664%, rgba(0, 0, 0, 0)), color-stop(8.41121%, rgba(0, 0, 0, 0)), color-stop(8.41121%, rgba(100, 100, 225, 0.25)), color-stop(15.88785%, rgba(100, 100, 225, 0.25)), color-stop(15.88785%, rgba(0, 0, 0, 0)), color-stop(16.82243%, rgba(0, 0, 0, 0)), color-stop(16.82243%, rgba(100, 100, 225, 0.25)), color-stop(24.29907%, rgba(100, 100, 225, 0.25)), color-stop(24.29907%, rgba(0, 0, 0, 0)), color-stop(25.23364%, rgba(0, 0, 0, 0)), color-stop(25.23364%, rgba(100, 100, 225, 0.25)), color-stop(32.71028%, rgba(100, 100, 225, 0.25)), color-stop(32.71028%, rgba(0, 0, 0, 0)), color-stop(33.64486%, rgba(0, 0, 0, 0)), color-stop(33.64486%, rgba(100, 100, 225, 0.25)), color-stop(41.1215%, rgba(100, 100, 225, 0.25)), color-stop(41.1215%, rgba(0, 0, 0, 0)), color-stop(42.05607%, rgba(0, 0, 0, 0)), color-stop(42.05607%, rgba(100, 100, 225, 0.25)), color-stop(49.53271%, rgba(100, 100, 225, 0.25)), color-stop(49.53271%, rgba(0, 0, 0, 0)), color-stop(50.46729%, rgba(0, 0, 0, 0)), color-stop(50.46729%, rgba(100, 100, 225, 0.25)), color-stop(57.94393%, rgba(100, 100, 225, 0.25)), color-stop(57.94393%, rgba(0, 0, 0, 0)), color-stop(58.8785%, rgba(0, 0, 0, 0)), color-stop(58.8785%, rgba(100, 100, 225, 0.25)), color-stop(66.35514%, rgba(100, 100, 225, 0.25)), color-stop(66.35514%, rgba(0, 0, 0, 0)), color-stop(67.28972%, rgba(0, 0, 0, 0)), color-stop(67.28972%, rgba(100, 100, 225, 0.25)), color-stop(74.76636%, rgba(100, 100, 225, 0.25)), color-stop(74.76636%, rgba(0, 0, 0, 0)), color-stop(75.70093%, rgba(0, 0, 0, 0)), color-stop(75.70093%, rgba(100, 100, 225, 0.25)), color-stop(83.17757%, rgba(100, 100, 225, 0.25)), color-stop(83.17757%, rgba(0, 0, 0, 0)), color-stop(84.11215%, rgba(0, 0, 0, 0)), color-stop(84.11215%, rgba(100, 100, 225, 0.25)), color-stop(91.58879%, rgba(100, 100, 225, 0.25)), color-stop(91.58879%, rgba(0, 0, 0, 0)), color-stop(92.52336%, rgba(0, 0, 0, 0)), color-stop(92.52336%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 7.47664%, rgba(0, 0, 0, 0) 7.47664%, rgba(0, 0, 0, 0) 8.41121%, rgba(100, 100, 225, 0.25) 8.41121%, rgba(100, 100, 225, 0.25) 15.88785%, rgba(0, 0, 0, 0) 15.88785%, rgba(0, 0, 0, 0) 16.82243%, rgba(100, 100, 225, 0.25) 16.82243%, rgba(100, 100, 225, 0.25) 24.29907%, rgba(0, 0, 0, 0) 24.29907%, rgba(0, 0, 0, 0) 25.23364%, rgba(100, 100, 225, 0.25) 25.23364%, rgba(100, 100, 225, 0.25) 32.71028%, rgba(0, 0, 0, 0) 32.71028%, rgba(0, 0, 0, 0) 33.64486%, rgba(100, 100, 225, 0.25) 33.64486%, rgba(100, 100, 225, 0.25) 41.1215%, rgba(0, 0, 0, 0) 41.1215%, rgba(0, 0, 0, 0) 42.05607%, rgba(100, 100, 225, 0.25) 42.05607%, rgba(100, 100, 225, 0.25) 49.53271%, rgba(0, 0, 0, 0) 49.53271%, rgba(0, 0, 0, 0) 50.46729%, rgba(100, 100, 225, 0.25) 50.46729%, rgba(100, 100, 225, 0.25) 57.94393%, rgba(0, 0, 0, 0) 57.94393%, rgba(0, 0, 0, 0) 58.8785%, rgba(100, 100, 225, 0.25) 58.8785%, rgba(100, 100, 225, 0.25) 66.35514%, rgba(0, 0, 0, 0) 66.35514%, rgba(0, 0, 0, 0) 67.28972%, rgba(100, 100, 225, 0.25) 67.28972%, rgba(100, 100, 225, 0.25) 74.76636%, rgba(0, 0, 0, 0) 74.76636%, rgba(0, 0, 0, 0) 75.70093%, rgba(100, 100, 225, 0.25) 75.70093%, rgba(100, 100, 225, 0.25) 83.17757%, rgba(0, 0, 0, 0) 83.17757%, rgba(0, 0, 0, 0) 84.11215%, rgba(100, 100, 225, 0.25) 84.11215%, rgba(100, 100, 225, 0.25) 91.58879%, rgba(0, 0, 0, 0) 91.58879%, rgba(0, 0, 0, 0) 92.52336%, rgba(100, 100, 225, 0.25) 92.52336%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 7.47664%, rgba(0, 0, 0, 0) 7.47664%, rgba(0, 0, 0, 0) 8.41121%, rgba(100, 100, 225, 0.25) 8.41121%, rgba(100, 100, 225, 0.25) 15.88785%, rgba(0, 0, 0, 0) 15.88785%, rgba(0, 0, 0, 0) 16.82243%, rgba(100, 100, 225, 0.25) 16.82243%, rgba(100, 100, 225, 0.25) 24.29907%, rgba(0, 0, 0, 0) 24.29907%, rgba(0, 0, 0, 0) 25.23364%, rgba(100, 100, 225, 0.25) 25.23364%, rgba(100, 100, 225, 0.25) 32.71028%, rgba(0, 0, 0, 0) 32.71028%, rgba(0, 0, 0, 0) 33.64486%, rgba(100, 100, 225, 0.25) 33.64486%, rgba(100, 100, 225, 0.25) 41.1215%, rgba(0, 0, 0, 0) 41.1215%, rgba(0, 0, 0, 0) 42.05607%, rgba(100, 100, 225, 0.25) 42.05607%, rgba(100, 100, 225, 0.25) 49.53271%, rgba(0, 0, 0, 0) 49.53271%, rgba(0, 0, 0, 0) 50.46729%, rgba(100, 100, 225, 0.25) 50.46729%, rgba(100, 100, 225, 0.25) 57.94393%, rgba(0, 0, 0, 0) 57.94393%, rgba(0, 0, 0, 0) 58.8785%, rgba(100, 100, 225, 0.25) 58.8785%, rgba(100, 100, 225, 0.25) 66.35514%, rgba(0, 0, 0, 0) 66.35514%, rgba(0, 0, 0, 0) 67.28972%, rgba(100, 100, 225, 0.25) 67.28972%, rgba(100, 100, 225, 0.25) 74.76636%, rgba(0, 0, 0, 0) 74.76636%, rgba(0, 0, 0, 0) 75.70093%, rgba(100, 100, 225, 0.25) 75.70093%, rgba(100, 100, 225, 0.25) 83.17757%, rgba(0, 0, 0, 0) 83.17757%, rgba(0, 0, 0, 0) 84.11215%, rgba(100, 100, 225, 0.25) 84.11215%, rgba(100, 100, 225, 0.25) 91.58879%, rgba(0, 0, 0, 0) 91.58879%, rgba(0, 0, 0, 0) 92.52336%, rgba(100, 100, 225, 0.25) 92.52336%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 7.47664%, rgba(0, 0, 0, 0) 7.47664%, rgba(0, 0, 0, 0) 8.41121%, rgba(100, 100, 225, 0.25) 8.41121%, rgba(100, 100, 225, 0.25) 15.88785%, rgba(0, 0, 0, 0) 15.88785%, rgba(0, 0, 0, 0) 16.82243%, rgba(100, 100, 225, 0.25) 16.82243%, rgba(100, 100, 225, 0.25) 24.29907%, rgba(0, 0, 0, 0) 24.29907%, rgba(0, 0, 0, 0) 25.23364%, rgba(100, 100, 225, 0.25) 25.23364%, rgba(100, 100, 225, 0.25) 32.71028%, rgba(0, 0, 0, 0) 32.71028%, rgba(0, 0, 0, 0) 33.64486%, rgba(100, 100, 225, 0.25) 33.64486%, rgba(100, 100, 225, 0.25) 41.1215%, rgba(0, 0, 0, 0) 41.1215%, rgba(0, 0, 0, 0) 42.05607%, rgba(100, 100, 225, 0.25) 42.05607%, rgba(100, 100, 225, 0.25) 49.53271%, rgba(0, 0, 0, 0) 49.53271%, rgba(0, 0, 0, 0) 50.46729%, rgba(100, 100, 225, 0.25) 50.46729%, rgba(100, 100, 225, 0.25) 57.94393%, rgba(0, 0, 0, 0) 57.94393%, rgba(0, 0, 0, 0) 58.8785%, rgba(100, 100, 225, 0.25) 58.8785%, rgba(100, 100, 225, 0.25) 66.35514%, rgba(0, 0, 0, 0) 66.35514%, rgba(0, 0, 0, 0) 67.28972%, rgba(100, 100, 225, 0.25) 67.28972%, rgba(100, 100, 225, 0.25) 74.76636%, rgba(0, 0, 0, 0) 74.76636%, rgba(0, 0, 0, 0) 75.70093%, rgba(100, 100, 225, 0.25) 75.70093%, rgba(100, 100, 225, 0.25) 83.17757%, rgba(0, 0, 0, 0) 83.17757%, rgba(0, 0, 0, 0) 84.11215%, rgba(100, 100, 225, 0.25) 84.11215%, rgba(100, 100, 225, 0.25) 91.58879%, rgba(0, 0, 0, 0) 91.58879%, rgba(0, 0, 0, 0) 92.52336%, rgba(100, 100, 225, 0.25) 92.52336%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 7.47664%, rgba(0, 0, 0, 0) 7.47664%, rgba(0, 0, 0, 0) 8.41121%, rgba(100, 100, 225, 0.25) 8.41121%, rgba(100, 100, 225, 0.25) 15.88785%, rgba(0, 0, 0, 0) 15.88785%, rgba(0, 0, 0, 0) 16.82243%, rgba(100, 100, 225, 0.25) 16.82243%, rgba(100, 100, 225, 0.25) 24.29907%, rgba(0, 0, 0, 0) 24.29907%, rgba(0, 0, 0, 0) 25.23364%, rgba(100, 100, 225, 0.25) 25.23364%, rgba(100, 100, 225, 0.25) 32.71028%, rgba(0, 0, 0, 0) 32.71028%, rgba(0, 0, 0, 0) 33.64486%, rgba(100, 100, 225, 0.25) 33.64486%, rgba(100, 100, 225, 0.25) 41.1215%, rgba(0, 0, 0, 0) 41.1215%, rgba(0, 0, 0, 0) 42.05607%, rgba(100, 100, 225, 0.25) 42.05607%, rgba(100, 100, 225, 0.25) 49.53271%, rgba(0, 0, 0, 0) 49.53271%, rgba(0, 0, 0, 0) 50.46729%, rgba(100, 100, 225, 0.25) 50.46729%, rgba(100, 100, 225, 0.25) 57.94393%, rgba(0, 0, 0, 0) 57.94393%, rgba(0, 0, 0, 0) 58.8785%, rgba(100, 100, 225, 0.25) 58.8785%, rgba(100, 100, 225, 0.25) 66.35514%, rgba(0, 0, 0, 0) 66.35514%, rgba(0, 0, 0, 0) 67.28972%, rgba(100, 100, 225, 0.25) 67.28972%, rgba(100, 100, 225, 0.25) 74.76636%, rgba(0, 0, 0, 0) 74.76636%, rgba(0, 0, 0, 0) 75.70093%, rgba(100, 100, 225, 0.25) 75.70093%, rgba(100, 100, 225, 0.25) 83.17757%, rgba(0, 0, 0, 0) 83.17757%, rgba(0, 0, 0, 0) 84.11215%, rgba(100, 100, 225, 0.25) 84.11215%, rgba(100, 100, 225, 0.25) 91.58879%, rgba(0, 0, 0, 0) 91.58879%, rgba(0, 0, 0, 0) 92.52336%, rgba(100, 100, 225, 0.25) 92.52336%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1.5625em, rgba(0, 0, 0, 0.2) 0 0 0.1875em 0.0625em inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1.5625em, rgba(0, 0, 0, 0.2) 0 0 0.1875em 0.0625em inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 1.5625em, rgba(0, 0, 0, 0.2) 0 0 0.1875em 0.0625em inset;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 195, ../sass/screen.scss */
.container header section#banner section#relleno {
  width: 74.76636%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 199, ../sass/screen.scss */
.container header section#banner section#caja {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 202, ../sass/screen.scss */
.container header section#banner section#caja section#acceso {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 206, ../sass/screen.scss */
.container header section#banner section#caja section#social {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 210, ../sass/screen.scss */
.container header section#banner section#caja section#contacto {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 216, ../sass/screen.scss */
.container header section#menus {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 261, ../sass/screen.scss */
.container div.content {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 265, ../sass/screen.scss */
.container div.content section#hormiga {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 287, ../sass/screen.scss */
.container div.content section#info {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 291, ../sass/screen.scss */
.container div.content section#variable {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 294, ../sass/screen.scss */
.container div.content section#variable aside#asidel {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 314, ../sass/screen.scss */
.container div.content section#variable section#body {
  width: 49.53271%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
/* line 321, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo {
  width: 100%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 324, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo section#where {
  width: 49.0566%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
}
/* line 328, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo section#services {
  width: 49.0566%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 340, ../sass/screen.scss */
.container div.content section#variable aside#asider {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 362, ../sass/screen.scss */
.container div.content section#variable_2col section#body {
  width: 74.76636%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 368, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 387, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body {
  width: 74.76636%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 392, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body div#space section#bodyleft {
  width: 43.75%;
  float: left;
  margin-right: 1.25%;
  display: inline;
}
/* line 396, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body div#space section#bodyright {
  width: 55.0%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 404, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 430, ../sass/screen.scss */
.container footer#footer {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 433, ../sass/screen.scss */
.container footer#footer div#finicial {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 437, ../sass/screen.scss */
.container footer#footer div#col1 {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 441, ../sass/screen.scss */
.container footer#footer div#col2 {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 445, ../sass/screen.scss */
.container footer#footer div#col3 {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 449, ../sass/screen.scss */
.container footer#footer div#col4 {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 453, ../sass/screen.scss */
.container footer#footer div#ffinal {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 458, ../sass/screen.scss */
.container footer#footer div#legal {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
