/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "sf-speakeasy";
  src: url('fonts/sf-speakeasy/SF_Speakeasy-webfont.eot');
  src: url('fonts/sf-speakeasy/SF_Speakeasy-webfont.eot?#iefix') format('eot'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.woff') format('woff'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.ttf') format('truetype'), url('fonts/sf-speakeasy/SF_Speakeasy-webfont.svg') format('svg');
}

@font-face {
  font-family: "glyphicons";
  src: url('fonts/glyphicons/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('eot'), url('fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons/glyphicons-halflings-regular.svg') format('svg');
}

@font-face {
  font-family: "tron";
  src: url('fonts/tron/tron-webfont.eot');
  src: url('fonts/tron/tron-webfont.eot?#iefix') format('eot'), url('fonts/tron/tron-webfont.woff') format('woff'), url('fonts/tron/tron-webfont.ttf') format('truetype'), url('fonts/tron/tron-webfont.svg') format('svg');
}

/* line 116, ../sass/_base.scss */
.sf-speakeasy {
  font-family: "sf-speakeasy";
}

/* line 120, ../sass/_base.scss */
.glyphicons {
  font-family: "glyphicons";
}

/* line 124, ../sass/_base.scss */
.tron {
  font-family: "tron";
}

/* line 130, ../sass/_base.scss */
.opensans {
  font-family: 'Open Sans', sans-serif;
}

/* line 134, ../sass/_base.scss */
.cantarell {
  font-family: 'Cantarell', sans-serif;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* -------------------------------------------------------------------------*/
/* line 15, ../sass/screen.scss */
a:link {
  color: #74644d;
  text-decoration: none;
  transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -webkit-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -moz-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -ms-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
  -o-transition: opacity .3s ease-in, color .3s ease-in, background-color .3s ease-in;
}

/* line 24, ../sass/screen.scss */
a:active {
  color: black;
  text-decoration: none;
}

/* line 29, ../sass/screen.scss */
a:visited {
  color: black;
  text-decoration: none;
}

/* line 34, ../sass/screen.scss */
a:hover {
  color: black;
  text-decoration: underline;
}

/* line 39, ../sass/screen.scss */
a:before {
  border-radius: 3px 3px 3px 3px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  left: 9px;
  line-height: 15px;
  margin-top: -10px;
  padding: 3px 3px 2px 3px;
  position: absolute;
  text-align: center;
  top: 50%;
}

/* line 54, ../sass/screen.scss */
a:after {
  border: 1px solid #dadada;
  border-radius: 22px 22px 22px 22px;
  content: "\00BB";
  display: none;
  margin-top: -14px;
  position: absolute;
  right: 6px;
  text-align: center;
  text-indent: 1px;
  top: 50%;
}

/* line 73, ../sass/screen.scss */
a:hover:after {
  display: block;
}

/* line 77, ../sass/screen.scss */
html {
  font-size: 16px;
  font-family: cantarell, sans-serif;
}

/* line 113, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 60em;
  _width: 60em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px, rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px, rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px, rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 201, ../sass/screen.scss */
.container header section#banner {
  background-image: url(../img/cabecera.png);
  background-repeat: no-repeat;
  min-height: 125px;
}
/* line 208, ../sass/screen.scss */
.container header section#banner section#relleno {
  width: 74.76636%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 213, ../sass/screen.scss */
.container header section#banner section#caja {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  text-align: center;
  max-height: 125px;
}
/* line 219, ../sass/screen.scss */
.container header section#banner section#caja section#acceso {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  min-height: 42px;
}
/* line 224, ../sass/screen.scss */
.container header section#banner section#caja section#social {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  min-height: 42px;
}
/* line 229, ../sass/screen.scss */
.container header section#banner section#caja section#contacto {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  min-height: 41px;
}
/* line 237, ../sass/screen.scss */
.container header section#menus {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background-color: #fefefe;
}
/* line 241, ../sass/screen.scss */
.container header section#menus nav#cssmenu {
  height: 3.0625em;
  -moz-border-radius-topleft: 0.625em;
  -webkit-border-top-left-radius: 0.625em;
  border-top-left-radius: 0.625em;
  -moz-border-radius-topright: 0.625em;
  -webkit-border-top-right-radius: 0.625em;
  border-top-right-radius: 0.625em;
  background: #fefefe;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #eee9f0));
  background-image: -webkit-linear-gradient(#fefefe, #eee9f0);
  background-image: -moz-linear-gradient(#fefefe, #eee9f0);
  background-image: -o-linear-gradient(#fefefe, #eee9f0);
  background-image: linear-gradient(#fefefe, #eee9f0);
  border-bottom: 0.125em solid #a39579;
  width: auto;
}
/* line 253, ../sass/screen.scss */
.container header section#menus nav#cssmenu ul, .container header section#menus nav#cssmenu li, .container header section#menus nav#cssmenu span, .container header section#menus nav#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 258, ../sass/screen.scss */
.container header section#menus nav#cssmenu:after, .container header section#menus nav#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
/* line 264, ../sass/screen.scss */
.container header section#menus nav#cssmenu a {
  color: black;
  background: transparent;
  display: inline-block;
  line-height: 3.0625em;
  padding: 0 1.25em;
  text-decoration: none;
}
/* line 274, ../sass/screen.scss */
.container header section#menus nav#cssmenu ul {
  list-style: none;
  z-index: 1000;
}
/* line 278, ../sass/screen.scss */
.container header section#menus nav#cssmenu > ul {
  float: left;
}
/* line 280, ../sass/screen.scss */
.container header section#menus nav#cssmenu > ul > li {
  float: left;
}
/* line 283, ../sass/screen.scss */
.container header section#menus nav#cssmenu > ul > li > a {
  color: black;
  /* font-size: 12px; */
}
/* line 288, ../sass/screen.scss */
.container header section#menus nav#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-bottom: 0.625em solid #a39579;
  margin-left: -0.625em;
}
/* line 302, ../sass/screen.scss */
.container header section#menus nav#cssmenu > ul > li:first-child > a {
  -webkit-border-radius: 0.3125em 0 0 0;
  -moz-border-radius: 0.3125em 0 0 0;
  border-radius: 0.3125em 0 0 0;
}
/* line 310, ../sass/screen.scss */
.container header section#menus nav#cssmenu > ul > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-bottom: 0.625em solid #a39579;
  margin-left: -0.625em;
}
/* line 323, ../sass/screen.scss */
.container header section#menus nav#cssmenu > ul > li.active > a {
  background: #eeede9;
  -webkit-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
}
/* line 335, ../sass/screen.scss */
.container header section#menus nav#cssmenu > ul > li:hover > a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeede9), color-stop(100%, #c2beaf));
  background-image: -webkit-linear-gradient(#eeede9, #c2beaf);
  background-image: -moz-linear-gradient(#eeede9, #c2beaf);
  background-image: -o-linear-gradient(#eeede9, #c2beaf);
  background-image: linear-gradient(#eeede9, #c2beaf);
  -webkit-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.1);
}
/* line 350, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub:hover > ul {
  display: block;
}
/* line 353, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 12.5em;
  top: 100%;
  left: 0;
}
/* line 359, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub ul li {
  *margin-bottom: -0.0625em;
}
/* line 361, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub ul li a {
  background: #a39579;
  border-bottom: 0.0625em dotted #eeede9;
  filter: none;
  /* font-size: 11px; */
  display: block;
  line-height: 120%;
  padding: 0.625em;
  color: white;
}
/* line 371, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub ul li:hover a {
  background: #918b74;
}
/* line 377, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
/* line 380, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
/* line 385, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub .has-sub ul li a {
  background: #918b74;
  border-bottom: 1px dotted #eeede9;
}
/* line 388, ../sass/screen.scss */
.container header section#menus nav#cssmenu .has-sub .has-sub ul li a:hover {
  background: #595546;
}
/* line 401, ../sass/screen.scss */
.container div.content {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 407, ../sass/screen.scss */
.container div.content section#hormiga {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 415, ../sass/screen.scss */
.container div.content section#info {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 422, ../sass/screen.scss */
.container div.content section#variable {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 427, ../sass/screen.scss */
.container div.content section#variable aside#asidel {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 435, ../sass/screen.scss */
.container div.content section#variable aside#asidel section#news {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 443, ../sass/screen.scss */
.container div.content section#variable aside#asidel section#news h2 {
  text-align: center;
}
/* line 450, ../sass/screen.scss */
.container div.content section#variable section#body {
  width: 49.53271%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
/* line 458, ../sass/screen.scss */
.container div.content section#variable section#body section#slide {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  text-align: center;
  vertical-align: middle;
  padding: .2em;
  margin: .2em;
}
/* line 472, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo {
  width: 100%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
  clear: both;
  text-align: center;
}
/* line 482, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo section#where {
  width: 49.0566%;
  float: left;
  margin-right: 1.88679%;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  text-align: center;
  vertical-align: middle;
  padding-top: .2em;
  padding-bottom: .2em;
  min-height: 1.5em;
}
/* line 496, ../sass/screen.scss */
.container div.content section#variable section#body div#ourinfo section#services {
  width: 49.0566%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  text-align: center;
  vertical-align: middle;
  padding-top: .2em;
  padding-bottom: .2em;
  min-height: 1.5em;
}
/* line 514, ../sass/screen.scss */
.container div.content section#variable section#body section#expo {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid #c1b7a4;
  text-align: center;
  vertical-align: middle;
  padding: .2em;
  margin: .2em;
}
/* line 528, ../sass/screen.scss */
.container div.content section#variable aside#asider {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 536, ../sass/screen.scss */
.container div.content section#variable aside#asider section#agenda {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 544, ../sass/screen.scss */
.container div.content section#variable aside#asider section#agenda h2 {
  text-align: center;
}
/* line 550, ../sass/screen.scss */
.container div.content section#variable aside#asider section#varios {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 559, ../sass/screen.scss */
.container div.content section#variable aside#asider section#varios section#internal {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 567, ../sass/screen.scss */
.container div.content section#variable aside#asider section#varios section#internal h2 {
  text-align: center;
}
/* line 572, ../sass/screen.scss */
.container div.content section#variable aside#asider section#varios section#externas {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 580, ../sass/screen.scss */
.container div.content section#variable aside#asider section#varios section#externas h2 {
  text-align: center;
}
/* line 586, ../sass/screen.scss */
.container div.content section#variable aside#asider section#banner2 {
  text-align: center;
  width: 100%;
}
/* line 598, ../sass/screen.scss */
.container div.content section#variable_1col {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 602, ../sass/screen.scss */
.container div.content section#variable_1col section#body div#space {
  max-width: 100%;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 618, ../sass/screen.scss */
.container div.content section#variable_2col section#body {
  width: 74.76636%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 624, ../sass/screen.scss */
.container div.content section#variable_2col section#body div#space {
  max-width: 100%;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 634, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 642, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider section#agenda {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 650, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider section#agenda h2 {
  text-align: center;
}
/* line 656, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider section#varios {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 665, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider section#varios section#internal {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 673, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider section#varios section#internal h2 {
  text-align: center;
}
/* line 678, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider section#varios section#externas {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 686, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider section#varios section#externas h2 {
  text-align: center;
}
/* line 692, ../sass/screen.scss */
.container div.content section#variable_2col aside#asider section#banner2 {
  text-align: center;
  width: 100%;
}
/* line 705, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body {
  width: 74.76636%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 711, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body div#space {
  max-width: 100%;
  min-height: 30em;
  margin: 1em;
  border: 1em;
  padding: 1em;
}
/* line 719, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body div#space section#bodyleft {
  width: 43.75%;
  float: left;
  margin-right: 1.25%;
  display: inline;
}
/* line 723, ../sass/screen.scss */
.container div.content section#variable_2col_especial section#body div#space section#bodyright {
  width: 55.0%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 729, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 737, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider section#agenda {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 745, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider section#agenda h2 {
  text-align: center;
}
/* line 751, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider section#varios {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 760, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider section#varios section#internal {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 768, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider section#varios section#internal h2 {
  text-align: center;
}
/* line 773, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider section#varios section#externas {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: .2em;
  margin: .2em;
  border: 1px solid #c1b7a4;
}
/* line 781, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider section#varios section#externas h2 {
  text-align: center;
}
/* line 787, ../sass/screen.scss */
.container div.content section#variable_2col_especial aside#asider section#banner2 {
  text-align: center;
  width: 100%;
}
/* line 801, ../sass/screen.scss */
.container footer#footer {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  background-color: #c6c1b3;
}
/* line 805, ../sass/screen.scss */
.container footer#footer div#finicial {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  min-height: 2em;
}
/* line 811, ../sass/screen.scss */
.container footer#footer div#col1 {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 820, ../sass/screen.scss */
.container footer#footer div#col2 {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 829, ../sass/screen.scss */
.container footer#footer div#col3 {
  width: 24.29907%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 838, ../sass/screen.scss */
.container footer#footer div#col4 {
  width: 24.29907%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
}
/* line 847, ../sass/screen.scss */
.container footer#footer div#ffinal {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  min-height: 2em;
}
/* line 854, ../sass/screen.scss */
.container footer#footer div#legal {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  text-align: right;
}
