.ribbon {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #784421;
  background-image: -moz-linear-gradient(center top, #784421, #603920);
  border-bottom-color: #48261C;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: -moz-use-text-color;
  border-left-style-ltr-source: physical;
  border-left-style-rtl-source: physical;
  border-left-style-value: none;
  border-left-width-ltr-source: physical;
  border-left-width-rtl-source: physical;
  border-left-width-value: 0;
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: -moz-use-text-color;
  border-right-style-ltr-source: physical;
  border-right-style-rtl-source: physical;
  border-right-style-value: none;
  border-right-width-ltr-source: physical;
  border-right-width-rtl-source: physical;
  border-right-width-value: 0;
  border-top-color: #48261C;
  border-top-style: solid;
  border-top-width: 4px;
  box-shadow: 0 10px 3px rgba(0, 0, 0, 0.2);
  height: 4.1875em;
  margin-top: 4.1875em;
  position: absolute;
  transition-duration: 0.5s;
  width: 100%;
  z-index: -1;
}
