{% load static %}
<div class="right">
    <a {% if adjunto.url %}
        title="{{adjunto.titulo}}" href="{{adjunto.url}}" target="_blank"
        {% else %}
        title="{{adjunto.filename.filename}}" href="{{adjunto.filename}}"
        {% endif %} >
        {% if not downloadicon and adjunto.miniatura %}
            <img src="{{adjunto.miniatura}}" class="scale200" alt="{{adjunto.titulo}}" longdesc="{{adjunto.titulo}} - {{object.autor}}" />
        {% elif adjunto.url %}
            Ir a esta web
        {% else %}
            Descargar este fichero
        {% endif %}
    </a>
</div>
