<div {% if only %}class="calendario_eventos"{% endif %}>

	<div>
		<span><a {% if only %}id="mes_previo"{% endif %} href="{% url 'calendario' prev.year prev.month %}">&nbsp;&#9664;&nbsp;</a></span>

		<span>
			{% if only %}
				<a href="{% url 'calendario' start.year start.month %}">{{start|date:"F Y"}}</a>
			{% else %}
				{{start|date:"F Y"}}
			{% endif %}
		</span>

		<span><a {% if only %}id="mes_siguiente"{% endif %} href="{% url 'calendario' next.year next.month %}">&nbsp;&#9654;&nbsp;</a></span>
	</div>

	<table style="align:center; width:100%;" accesskey="a" role="grid" title="Calendario de Eventos">
		{# hay formas mejores de hacer esto, pero como hay prisa #}
		<thead>
			<tr>
				<th>Lun</th>
				<th>Mar</th>
				<th>Mié</th>
				<th>Jue</th>
				<th>Vie</th>
				<th>Sáb</th>
				<th>Dom</th>
			</tr>
		</thead>

		<tbody>
			{% for semana in semanas %}
			<tr>
				{% for dia, lista_eventos in semana %}
					{% if dia.month == start.month %}
						{% if lista_eventos %}
							<td class="evento"><span>{{dia.day}}</span></td>
						{% elif hoy == dia %}
							<td class="actual"><span>{{dia.day}}</span></td>
						{% else %}
							<td class="dia"><span>{{dia.day}}</span></td>
						{% endif %}
					{% else %}
						<td class="sin_dia">&nbsp;</td>
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% if only %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#mes_previo').click(function(event) {
				event.preventDefault();
				$('.calendario_eventos').load("{% url 'calendario_only' prev.year prev.month %}");
			});

			$('#mes_siguiente').click(function(event) {
				event.preventDefault();
				$('.calendario_eventos').load("{% url 'calendario_only' next.year next.month %}");
			});
		});
	</script>
{% endif %}
