<div>
    <span><a id="mes_previo">&nbsp;&#9664;&nbsp;</a></span>
    <span>{{start|date:"F Y"}}</span>
    <span><a id="mes_siguiente">&nbsp;&#9654;&nbsp;</a></span>
</div>

<table style="align:center; width:100%;" accesskey="a" role="grid">
    {# <caption>Calendario de Eventos</caption> #}
    {# hay formas mejores de hacer esto, pero como hay prisa #}
    <thead>
        <tr>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
            <th>D</th>
        </tr>
    </thead>

    <tbody>
        {% for semana in semanas %}
        <tr>
            {% for dia, lista_eventos in semana %}
                {% if dia.month == start.month %}
                    {% if lista_eventos|length == 1 %}
                        <td class="{% if hoy == dia %}evento_hoy{% else %}evento{% endif %}"><span><a href="{% url 'evento_day' dia.year dia.month dia.day %}" title="{{lista_eventos.0}}">{{dia.day}}</a></span></td>
                    {% elif lista_eventos %}
                        <td class="{% if hoy == dia %}evento_hoy{% else %}evento{% endif %}"><span><a href="{% url 'evento_day' dia.year dia.month dia.day %}" title="{{lista_eventos|length}} eventos disponibles">{{dia.day}}</a></span></td>
                    {% elif hoy == dia %}
                        <td class="actual"><span>{{dia.day}}</span></td>
                    {% else %}
                        <td class="dia"><span>{{dia.day}}</span></td>
                    {% endif %}
                {% else %}
                    <td class="sin_dia">&nbsp;</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    prev_month="{% url 'calendario_js' prev.year prev.month %}";
    next_month="{% url 'calendario_js' next.year next.month %}";
</script>


