<blockquote class="cita">
    <q>{{object.contenido}}</q>
    <footer>
    	<cite>
            {{object.autor}}
            {% if object.cargo %} | {{object.cargo}} {% endif %}
        </cite>

        {% if object.fecha %}
            &nbsp;| <time datetime="{{object.fecha|date:"Y-m-d"}}">
                {% if object.fecha_literal %}
                    {{object.fecha_literal}}
                {% else %}
                    {{object.fecha}}
                {% endif %}
            </time>
        {% endif %}
        {% if user.is_superuser %}
            <a href="{% url 'admin:contenidos_citasobre_change' object.id %}">&#9998;</a>
        {% endif %}
    </footer>
</blockquote>
