<blockquote class="cita">
    <q>{{object.contenido}}</q>
    <footer>
    	<cite>{{object.descripcion}}</cite>

        &nbsp;| <time datetime="{{object.fecha|date:"Y-m-d"}}">
            {% if object.fecha_literal %}
                {{object.fecha_literal}}
            {% else %}
                {{object.fecha}}
            {% endif %}
        </time>
        {% if user.is_superuser %}
            <a href="{% url 'admin:contenidos_citade_change' object.id %}">&#9998;</a>
        {% endif %}
    </footer>
</blockquote>
