
{# 1- {{object.categoria.get_tipo_display}}<br /> Presencia en prensa (Categoria) #}
{# 1.5- {{object.categoria.nombre}} Artículos <br /> #}


{% comment %}
5- {{object.fecha|date:"d/m/Y"}}<br />
{% endcomment %}

<br />

<div class="doc" itemscope itemtype="http://schema.org/Book">

	<div class="minibread" style="font-size: 11px;">{{object.categoria.get_tipo_display}} &#62; {{object.categoria.nombre}}</div>

	<br />

	<div><span itemprop="name"><strong>Dr Juan Negrín</strong></span>
	{% if object.autor %}
		, por <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{object.autor}}</span></span>
	{% else %}
		{{object.autor|default:""}}
	{% endif %}
	</div>

	<div>
		<ul class="adjuntos">

		{% for adjunto in object.adjuntos %}
			<!-- <li>{# {% include adjunto.template %} #}</li> -->
			<li>
			{% if adjunto.es_imagen or adjunto.extension = ".pdf" %}
				IMAGEN/PDF
    			{% if adjunto.miniatura %}
        			<a href="{{adjunto.filename}}"><img src="{{adjunto.miniatura}}" title="{{adjunto.titulo}}" ></a>
    			{% else %}
        			<img src="{{adjunto.filename}}" title="{{adjunto.titulo}}" />
    			{% endif %}
			{% elif adjunto.es_video %}
    			VIDEO <a href="{{adjunto.filename}}">{{adjunto.titulo}}</a>
			{% elif adjunto.es_audio %}
    			AUDIO <a href="{{adjunto.filename}}">{{adjunto.titulo}}</a>
		{% else %}
    		OTRO <a href="{{adjunto.filename}}">{{adjunto.titulo}}</a>
		{% endif %}
			</li>
		{% empty %}
			<li>(no hay adjuntos)</li>
		{% endfor %}
		</ul>
	</div>

	<div class="datos">
		<h1>{{object.titulo}}</h1>
		<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{object.autor|default:"Sin autor"}}</span></span>

		<div itemprop="description">{{object.descripcion}}</div>
		<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{object.fuente|default:"No hay fuente"}}</span></div>
		<div><meta itemprop="datePublished" content="{{object.fecha|date:"Y-m-d"}}"><time datetime="{{object.fecha|date:"Y-m-d"}}">{{object.fecha|date:"d/m/Y"}}</time></div>
	</div>



</div>


{% if user.is_superuser %}
<div class="right">
	<a href="{% url 'admin:contenidos_documento_change' object.id %}">&#9998;</a>
</div>
{% endif %}

<div><hr /></div>
