<div class="libro">
	{% if object.miniatura %}
	<img class="miniatura" src="{{object.miniatura}}" />
	{% else %}
	<img class="miniatura" src="{{MEDIA_URL}}uploads/bibliografia/portada-no-disponible.png" />
	{% endif %}
	<ul>
		<li><strong>Titulo</strong> {{object.titulo}}</li>
		<li><strong>Autor</strong> {{object.autor}}</li>
		<li><strong>Editorial</strong> {{object.editorial}}</li>
		<li><strong>Tipo</strong> {{object.tipo}}</li>
		<li><strong>País</strong> {{object.pais}}</li>
		<li><strong>Fecha</strong> {{object.fecha|date:"Y"}}</li>
		<li><strong>Idioma</strong> {{object.idioma}}</li>
		{% if object.precio %}
		<li><strong>Precio</strong> {{object.precio}} €</li>
		{% endif %}
		{% if object.isbn %}
		<li><strong>ISBN</strong> {{object.isbn}}</li>
		{% endif %}
		{% if object.url %}
		<li><strong>URL</strong> {{object.url}}</li>
		{% endif %}
		{% if object.resumen %}
		<li><strong>Resumen</strong> {{object.resumen}}</li>
		{% endif %}
		{% if user.is_superuser %}<li class="right"><a href="{% url 'admin:contenidos_libro_change' object.id %}">editar</a></li>{% endif %}
	</ul>
</div>

