{% extends 'base_1col.html' %}

{% block title %}
	{{block.super}} Buscador simple 
{% endblock title %}


{% block hormiga %}
	<ul>
		<li><a href="#">Buscador</a></li>
	</ul>
{% endblock hormiga %}

{% block body %}
	<div id="space">
		{% if error %}
			<div style="color: red" class="error">No se pudo realizar la búsquda: {{error}}</div>
		{% else %}
            <dl>
                <dt>Eventos ({{eventos_list.count}} encontrados)</dt>

                {% for object in eventos_list %}
                <dd><a href="{% url 'evento_view' object.pk %}">{{object.titulo}}</a><br />Poner algo aqui</dd>
                {% endfor %}

                <dt>Páginas ({{paginas_list.count}} encontradas)</dt>

                {% for object in paginas_list %}
                <dd><strong><a href="{{object.url}}">{{object.title}}</a></strong><br/>{{object.content|striptags|truncatewords:20|safe}}</dd>
                {% endfor %}

                <dt>Libros ({{libros_list.count}} encontrados)</dt>

                {% for object in libros_list %}
                <dd><strong><a href="{{object.get_absolute_url}}">{{object.titulo}}</a></strong><br/></dd>
                {% endfor %}
            </dl>
		{% endif %}
	</div>
{% endblock body %}

