{% extends 'base_2col2.html' %}
{% load contenidosblocks %}

{% block title %} {{block.super}} - Agenda {{start|date:"F Y"}} {% endblock title %}
{% block head_description %} {{block.super}} - Agenda {{start|date:"F Y"}} {% endblock head_description %}

{% block agenda %}
    <div class="calendario_eventos">
        {% calendario_eventos start.year start.month %}
    </div>
{% endblock agenda %}

{% block hormiga %}
<ul>
	<li><a href="#">Agenda</a></li>
	<li><a href="#">{{start|date:"F Y"}}</a></li>
</ul>
{% endblock hormiga %}

{% block contentl %}
    ESTO NO VA, cambiar a 1 col
{% endblock contentl %}

{% block contentr %}
	<h2>Eventos mes de {{start|date:"F"}}</h2>
	<ul>
		{% for fe in object_list %}
		<li>
            {{fe.fecha|date:"d/m/Y"}}:
            <a href="{% url 'evento_view' fe.evento.pk %}">{{fe.evento}}</a>
            {% if user.is_superuser %}
                <a href="{% url 'admin:contenidos_evento_change' fe.evento.id %}">&#9998;</a>
            {% endif %}
        </li>
		{% empty %}
		<li>No hay eventos para este mes.</li>
		{% endfor %}
	</ul>
{% endblock contentr %}

