{% extends "base_1col.html" %}

{% block title %} {{block.super}} - Citas sobre Juan Negrín {% endblock title %}
{% block head_description %} {{block.super}} - Citas sobre Juan Negrín {% endblock head_description %}

{% block hormiga %}
    <ul>
        <li><a href="#">Juan Negrín</a></li>
        <li><a href="#">Citas</a></li>
        <li><a href="#">Citas sobre Juan Negrín</a></li>
    </ul>
{% endblock hormiga %}

{% block body %}

    <div id="citasobre">

		<h1>Citas sobre Juan Negrín</h1>

		<hr />

		{% for object in object_list %}
			{% include "contenidos/_cita_sobre.html" %}
		{% endfor %}

		{# TODO: Activar el formulario de contacto #}

    </div>

{% endblock %}
