{% extends 'base_1col.html' %}

{% block extra_head %}
{# FIXME ESTO QUITARLO DE AQUI #}
{{block.super}}
<style>

/* hijos de ul.adjuntos */
ul.adjuntos .left {
    /* estilo */
    vertical-align: top;
    text-align: right;
    /* primera columna */
    width: 45%;
    float: left;
    clear: both;
}
ul.adjuntos .right {
    /* segunda columna */
    width: 55%; 
    margin-left: 45%;
}
ul.adjuntos li {
    border-bottom: 1px dotted gray;
    margin-top: 15px;
    padding-bottom: 10px;
}
ul.adjuntos {
    padding-bottom: 15px;
}

/* cosas genericas que pueden ser utiles en cualquier sitio */
img.scale200 {
    max-height: 200px;
    max-width: 200px;
}

.clear {
    clear: both;
}
.justify {
    text-align: justify;
}
</style>
{% endblock extra_head %}

{% block title %} {{block.super}} {{tipo}} - {{object.titulo}} {% endblock title %}
{% block head_description %} {{block.super}} Listado de {{tipo}} - {{object.titulo}} {% endblock head_description %}

{% block hormiga %}
    <ul>
        <li><a href="#">{{base_tipo}}</a></li>
        <li><a href="#">{{tipo}}</a></li>
        <li><a href="#">{{object.titulo}}</a></li>
    </ul>
{% endblock hormiga %}

{% block body %}
    <div class="documento_list">
        <h1>{{object.tipo}}</h1>
        <br/>
        {% include "contenidos/_documento.html" %}
    </div>
{% endblock body %}
