{% extends 'base_2col.html' %}
{% load contenidosblocks %}

{% block title %} {{block.super}} - Evento - {{object.titulo}} {% endblock title %}
{% block head_description %} {{block.super}} - Evento - {{object.titulo}} {% endblock head_description %}

{% block hormiga %}
<ul>
    <li><a href="#">Agenda</a></li>
    <li><a href="#">{{object.titulo}}</a></li>
</ul>
{% endblock hormiga %}

{% block agenda %}
    <div class="calendario_eventos">
        {% with start=object.fechaevento_set.all.0.fecha_inicio %}
            {% calendario_eventos start.year start.month %}
        {% endwith %}
    </div>
{% endblock agenda %}

{% block body %}

    <div class="evento" itemscope itemtype="http://schema.org/Event">

        <h1 itemprop="name">{{object.titulo}}</h1>

        <figure>
            {% if object.imagen %}
            <div>
            <img itemprop="image" src="{{MEDIA_URL}}{{object.imagen}}" alt="{{object.titulo}}" />
            </div>
            {% endif %}

            <figcaption>
                <br />
                <h2>Resumen {% if user.is_superuser %}<span><a href="{% url 'admin:contenidos_evento_change' object.id %}">&#9998;</a></span>{% endif %}</h2>

                <div>{{object.resumen|safe}}</div>
                <br />

                <h2>Fecha y lugar de celebración {% if user.is_superuser %}<span><a href="{% url 'admin:contenidos_evento_change' object.id %}">&#9998;</a></span>{% endif %}</h2>

                <div>{{object.fecha_y_lugar|safe}}</div>
                <br />

                {% if object.pdf %}
                    <div><button itemprop="url" href="{{MEDIA_URL}}{{object.pdf}}">Más información</button></div>
                    <br />
                {% endif %}

                {% for fecha in object.fechaevento_set.all %}
                    <div>
                        {% if fecha.fecha_inicio != fecha.fecha_final %}
                            Desde el día <time datetime="{{fecha.fecha_inicio|date:'Y-m-d'}}">{{fecha.fecha_inicio}}</time> hasta el día <time datetime="{{fecha.fecha_final|date:'Y-m-d'}}">{{fecha.fecha_final}}</time> inclusive
                        {% else %}
                            El día <time datetime="{{fecha.fecha_inicio|date:'Y-m-d'}}">{{fecha.fecha_inicio}}</time>
                        {% endif %}
                        {% if not fecha.hora_inicio %}
                            durante todo el día.
                        {% else %}
                            desde las <time datetime="{{fecha.hora_inicio}}">{{fecha.hora_inicio}}</time> hasta las <time datetime="{{fecha.hora_final}}">{{fecha.hora_final}}</a>.
                        {% endif %}
                    </div>
                {% empty %}
                    (no se ha asignado fecha a este evento)
                {% endfor %}

            </figcaption>

        </figure>

    </div>
{% endblock body %}
