{% extends 'base_2col.html' %}
{% load contenidosblocks %}

{% block title %}
	{{block.super}} - Evento - {{object.titulo}}
{% endblock title %}

{% block hormiga %}
<ul>
	<li><a href="#">Agenda</a></li>
	<li><a href="#">{{object.titulo}}</a></li>
</ul>
{% endblock hormiga %}

{% block agenda %}
    <div class="calendario_eventos">
        {% with start=object.fechaevento_set.all.0.fecha %}
            {% calendario_eventos start.year start.month %}
        {% endwith %}
    </div>
{% endblock agenda %}

{% block body %}

	<div class="evento" itemscope itemtype="http://schema.org/Event">

		<h1 itemprop="name">{{object.titulo}}</h1>

		<figure>
			{% if object.imagen %}
			<img itemprop="image" src="{{MEDIA_URL}}{{object.imagen}}" alt="{{object.titulo}}" />
			{% endif %}

			<figcaption>

                <h2>Resumen {% if user.is_superuser %}<span><a href="{% url 'admin:contenidos_evento_change' object.id %}">&#9998;</a></span>{% endif %}</h2>

				<div>{{object.resumen|safe}}</div>
				<br />

                <h2>Fecha y lugar de celebración {% if user.is_superuser %}<span><a href="{% url 'admin:contenidos_evento_change' object.id %}">&#9998;</a></span>{% endif %}</h2>

				<div>{{object.fecha_y_lugar|safe}}</div>
				<br />

				{% if object.pdf %}
					<div><button itemprop="url" href="{{object.pdf}}">Más información</button></div>
					<br />
				{% endif %}

				{% for fecha in object.fechaevento_set.all %}
					<div>
						El día <time datetime="{{fecha.fecha}}">{{fecha.fecha}}</time> desde las <time datetime="{{fecha.hora_inicio}}">{{fecha.hora_inicio}}</time> hasta las <time datetime="{{fecha.hora_final}}">{{fecha.hora_final}}</a>
					</div>
				{% empty %}
					(no se ha asignado fecha a este evento)
				{% endfor %}

			</figcaption>

		</figure>

	</div>
{% endblock body %}
