{% extends 'base_3col.html' %}
{% load contenidosblocks %}

{% block extra_footer %}
<script src="http://malsup.github.io/jquery.cycle2.js"></script>
{% endblock extra_footer %}

{% block title %}
{{block.super}} - Portada
{% endblock title %}

{% block section_hormiga %}
{% endblock section_hormiga %}

{% block slide %}
    <div class="cycle-slideshow" 
        data-cycle-fx="scrollHorz" 
        data-cycle-timeout="2000"
        >
        {% for carrusel in carruseles %}
            {% if carrusel.es_imagen %}
                <img style="width: 100%;" alt="{{carrusel.titulo}}" src="{{carrusel.filename}}">
            {% elif carrusel.es_video %}
                <div>
                    <video poster=""  controls="controls" width="320" height="240" id="player" preload="metadata">
                        Your browser does not support the <code>video</code> element.
                        <source src="{{carrusel.filename}}" type="ESTOHAYQUEPONERALGO">
                    </video>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock slide %}

{% block section_expo %}
    {% if flatpage %}
        <section id="expo">
            {{ flatpage.content|safe }}
            {% if user.is_superuser %}<a href="{% url 'admin:flatpages_i18n_flatpage_i18n_change' flatpage.id %}">&#9998;</a>{% endif %}
        </section>
    {% else %}
        (Cambiar el texto de la flatpage "Portada")
    {% endif %}
{% endblock section_expo %}


