{% extends 'base_1col.html' %}

{% block title %}
{{block.super}} Catálogo de publicaciones
{% endblock title %}

{% block extra_head %}
{{block.super}}
<style>
	.libro { min-height: 200px; border: 1px solid gray; margin: 5px; padding: 2px; clear: left; }
	img.miniatura { height: 200px; float: left; }
	.libro ul { margin-left: 200px; padding: 5px; }
	.libro li strong { display: inline-block; width: 200px; font-weight: bold;}
	.right { text-align: right; }
</style>
{% endblock extra_head %}

{% block hormiga %}
<ul>
	<li><a href="#">Fondos y Recursos Documentales</a></li>
	<li><a href="#">Catálogo de publicaciones</a></li>
</ul>
{% endblock hormiga %}

{% block body %}
	<div id="space">
		<form method="GET" action="{% url 'libros' %}">
			Por autor <input type="text" name="autor" value="{{buscador.autor}}" />
			Por ISBN <input type="text" name="isbn" value="{{buscador.isbn}}" />
			Por titulo <input type="text" name="titulo" value="{{buscador.titulo}}" />
			<input type="submit" value="Buscar" />
		</form>
		{% if count %}
			{{count}} Resultados <br />
			{% for object in object_list %}
				{% include "contenidos/_libro.html" %}
			{% endfor %}
			{% include "contenidos/_paginator.html" %}
		{% else %}
			<p>(No hay publicaciones)</p>
		{% endif %}
	</div>
{% endblock body %}

