{% extends 'base_1col.html' %}

{% block title %}{{block.super}} - {{page_title}} - {{object.titulo}}{% endblock title %}
{% block head_description %}{{block.super}} - {{page_title}} - {{object.titulo}}{% endblock head_description %}

{% block hormiga %}
<ul>
	<li><a href="#">{{page_parent}}</a></li>
	<li><a href="#">{{page_title}}</a></li>
	<li><a href="#">{{object.titulo}}</a></li>
</ul>
{% endblock hormiga %}

{% block body %}
	<div id="libro_list">
		{% include "contenidos/_libro.html" %}
	</div>
{% endblock body %}
