{% extends 'base_1col.html' %}

{% block title %}
{{block.super}} Catálogo de publicaciones
{% endblock title %}

{% block extra_head %}
{{block.super}}
<style>
    .libro { min-height: 200px; border: 1px solid gray; margin: 5px; padding: 2px; clear: left; }
    img.miniatura { height: 200px; float: left; }
    .libro ul { margin-left: 200px; padding: 5px; }
    .libro li strong { display: inline-block; width: 200px; font-weight: bold;}
    .right { text-align: right; }
    form { border: 1px solid green; }
    form div { display: inline-block; }
</style>
{% endblock extra_head %}

{% block hormiga %}
<ul>
    <li><a href="#">Fondos y Recursos Documentales</a></li>
    <li><a href="#">Catálogo de publicaciones</a></li>
</ul>
{% endblock hormiga %}

{% block body %}
    <h1>Catálogo de publicaciones</h1>
    <div id="space">
        <form method="GET" action="{% url 'libros' %}">
            <strong>Búsqueda</strong>
            <div>
                <label for="input_autor">(por autor)</label>
		<input type="text" id="input_autor" name="autor" value="{{buscador.autor}}">
            <datalist>
                {% for autor in autores %} <option value="{{autor}}" />{% endfor %}
            </datalist>
		</input>
	    </div>
            <div>
		<label for="input_isbn">(por ISBN)</label>
		<input type="text" id="input_isbn" name="isbn" value="{{buscador.isbn}}">
            <datalist>
                {% for isbn in isbns %} <option value="{{isbn}}" />{% endfor %}
            </datalist>
		</input>
	    </div>
            <div>
		<label for="input_titulo">(por título)</label>
		<input type="text" id="input_titulo" name="titulo" value="{{buscador.titulo}}">
            <datalist>
                {% for titulo in titulos %} <option value="{{titulo}}" />{% endfor %}
            </datalist>
		</input>
	    </div>
            <input type="submit" value="Buscar" />
        </form>
        {% if count %}
            <p>
                {{count}} Resultados 
                {% if user.is_superuser %}<a href="{% url 'admin:contenidos_libro_add' %}">&#8862;</a>{% endif %}
            </p>
            {% for object in object_list %}
                {% include "contenidos/_libro.html" %}
            {% endfor %}
            {% include "contenidos/_paginator.html" %}
        {% else %}
            <p>
                (No hay publicaciones)
                {% if user.is_superuser %}<a href="{% url 'admin:contenidos_libro_add' %}">&#8862;</a>{% endif %}
            </p>
        {% endif %}
    </div>
{% endblock body %}

