{% extends "base_2col.html" %}

{% block title %}
	{{block.super}} - Presencia de Juan Negrín en la sociedad
{% endblock title %}

{% block hormiga %}
	<ul>
		<li><a href="#">Juan Negrín</a></li>
		<li><a href="#">Presencia</a></li>
	</ul>
{% endblock hormiga %}

{% block body %}

	<div class="presencia">

		<h1>Presencia</h1>
		<dl>
		{% for object in object_list %}
			{% include "contenidos/_presencia.html" %}
<!--            <br style="clear:both;" />-->
            <br style="clear:both;" />
            <hr />
            <br style="clear:both;" />
<!--            <br style="clear:both;" />-->
		{% endfor %}
		</dl>

        {% include "contenidos/_paginator.html" %}

		<p>Este apartado está abierto a aquellos que conozcan algún dato sobre la presencia de Juan Negrín en la sociedad. Enviar dicha aportación a través de nuestro correo electrónico o por carta a nuestra dirección. Es de agradecer si pueden aportar alguna fotografía.</p>

		{# TODO: Activar el formulario de contacto #}

	</div>

{% endblock %}
