{% extends "provisional.html" %}
{% load i18n staticfiles tree_menu_tags %}
{% load contenidosblocks %}
{% load zinnia_tags %}

{% block head_title %}
{% if site_name %}{{ site_name }} : {% else %}F. J. N. : {% endif %}
{% endblock head_title %}

{% block extra_head %}
{{block.super}}
<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
{% endblock extra_head %}

{% block form_i18n %}
ESTO NO SE INSTANCIA EN LA PLANTILLA BASE POR TANTO NO SE PRESENTA
SE DEJA AQUI SOLO COMO REFERENCIA, HABRA QUE CAMBIARLO POR ALGO BASADO EN BANDERAS
<!-- formulario seleccion idioma django -->
<form action="/i18n/setlang/" method="post">
	{% csrf_token %}
	<input name="next" type="hidden" value="/" />
	<select name="language">
		{% for lang in LANGUAGES %}
		<option value="{{ lang.0 }}">{{ lang.1 }}</option>
		{% endfor %}
	</select>
	<input type="submit" value="{% trans 'Go' %}" />
</form>
{% endblock form_i18n %}

{% block menu %}
	<ul>
		{% show_menu "principal" %}
		<li class="right"><a href="{% url 'zinnia_entry_archive_index' %}"><span>Bitácora</span></a></li>
	</ul>
{% endblock menu %}

{% block messages %}
	{% if messages %}
		{% for message in messages %}
		<p id="message_{{ forloop.counter }}" class="chromeframe">
			<a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}
		</p>
		{% endfor %}
	{% endif %}
{% endblock messages %}

{% block color_tests %}
{% endblock color_tests %}

{% block footer %}
	{{block.super}}
	<p>
		Probando la plantilla base.html a las {% now "jS F Y H:i" %}.<br />
		Poner copyright ... tal {% now "l" %} o {% now "r" %}
	</p>
{% endblock footer %}


{% block noticias %}
{% get_recent_entries %}
{% endblock noticias %}

{% block agenda %}
{% calendario_eventos 0 %}
{% endblock agenda %}

{% block actividades_internas %}
{% proximos_eventos 4 %}
{% endblock actividades_internas %}
