{% extends "provisional.html" %}
{% load i18n staticfiles tree_menu_tags %}
{% load contenidosblocks %}
{% load zinnia_tags %}
{% load url from future %}

{% block title %}{% if site_name %}{{ site_name }} : {% else %}Fundacion Juan Negrin{% endif %}{% endblock title %}
{% block head_description %}{% if site_name %}{{ site_name }} : {% else %}Fundacion Juan Negrin{% endif %}{% endblock head_description %}

{% block extra_head %}
{{block.super}}
{% endblock extra_head %}

{% block form_i18n %}
ESTO NO SE INSTANCIA EN LA PLANTILLA BASE POR TANTO NO SE PRESENTA
SE DEJA AQUI SOLO COMO REFERENCIA, HABRA QUE CAMBIARLO POR ALGO BASADO EN BANDERAS
<!-- formulario seleccion idioma django -->
<form action="/i18n/setlang/" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="/" />
    <select name="language">
        {% for lang in LANGUAGES %}
        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans 'Go' %}" />
</form>
{% endblock form_i18n %}

{% block menu %}
    <ul>
        {% show_menu "principal" %}
    </ul>
{% endblock menu %}

{% block section_hormiga %}
{% endblock section_hormiga %}

{% block messages %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <p id="message_{{ forloop.counter }}" class="chromeframe">
                    <a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock messages %}

{% block color_tests %}
{% endblock color_tests %}

{#
{% block footer %}
    {{block.super}}
    <!--
    <p>
        Probando la plantilla base.html a las {% now "jS F Y H:i" %}.<br />
        Poner copyright ... tal {% now "l" %} o {% now "r" %}
    </p>
    -->
{% endblock footer %}
#}

{% block noticias %}
{% get_recent_entries %}
{% endblock noticias %}

{% block agenda %}
    <div class="calendario_eventos">
        {% calendario_eventos %}
    </div>
{% endblock agenda %}

{% block actividades_internas %}
{% proximos_eventos 4 %}
{% endblock actividades_internas %}

{% block actividades_externas %}
{% resumen_de_zinnia 'actividades-internas' %}
{% endblock actividades_externas %}


{% block links1 %}
    {% show_menu "pie1" %}
{% endblock links1 %}

{% block links2 %}
    {% show_menu "pie2" %}
{% endblock links2 %}

{% block links3 %}
    {% show_menu "pie3" %}
{% endblock links3 %}

{% block links4 %}
    {% show_menu "pie4" %}
{% endblock links4 %}

{% block links5 %}
<ul>
    <li class="last">
        <a href="javascript:window.scrollTo(0,0)">&uarr; subir &uarr;</a>
    </li>
</ul>
{% endblock links5 %}

{% block js_footer %}
    {{block.super}}

    $(document).ready(function(){ 
        $('body').on("click", "#mes_previo", function(event) {
            event.preventDefault();
            $('.calendario_eventos').load(prev_month);
        });

        $('body').on("click", "#mes_siguiente", function(event) {
            event.preventDefault();
            $('.calendario_eventos').load(next_month);
        });
    });
{% endblock js_footer %}
