// Parte de la cabecera dedicada a la zona banner

section#banner{
    background-image: url(../img/cabecera.png);
    background-repeat: no-repeat;
    min-height: 125px;

    section#relleno{}

    section#caja{
        text-align: center;
        max-height: 125px;

        section#acceso{
            min-height: 42px;
        }

        section#social{
            min-height: 42px;
        }

        section#contacto{
            min-height: 41px;
        }
    }
}
