// Parte central de la pagina

div#ourinfo{
	clear: both;
	text-align: center;
}

// Los botones de la parte central, y tambien los del resto de la web

.boton {
	@include drop-shadow-transform-requirement();
    text-align: center;
}

.boton a {
    @include border-radius($radio-standar);
    @include drop-shadow-raised;
    text-align: center;
    vertical-align: middle;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 1.5em;

    &:hover {
        background-color: $color08;
    }
}
