// Parte central de la pagina

div#ourinfo{
	clear: both;
	text-align: center;

	section#where{
		@include border-radius($radio-standar);
		text-align: center;
		vertical-align: middle;
		padding-top: .2em;
		padding-bottom: .2em;
		min-height: 1.5em;
	}

	section#services{
		@include border-radius($radio-standar);
		text-align: center;
		vertical-align: middle;
		padding-top: .2em;
		padding-bottom: .2em;
		min-height: 1.5em;
	}

}