// Presentacion de la Fundacion en portada

section#expo{
	@include border-radius($radio-standar);
	border: 1px solid $color08 ;
	text-align: justify;
	vertical-align: middle;
	div#expo_sep{
		padding: em($font_base/2);
		margin: em($font_base/2);
	}
}