// Pie de pagina

$color_top-bottom: $color03;

$color_texto: $color00;
$color_texto_alternativo: $color01;

$color_fondo: $color_texto;
$background_fondo: $color07;

$color_legal: darken($color_texto_alternativo, 10%);
$background_legal: darken($background_fondo, 5%);


footer#footer{
    color: $color_fondo;
    background-color: $background_fondo;
    border-top: medium solid $color_top-bottom;
    border-bottom: medium solid $color_top-bottom;
    text-align: center;
    border: 0 em($font_base) 0 em($font_base);

    div#finicial{
        min-height:2em;
    }
	div#enlaces{
		div#col1, div#col2, div#col3, div#col4, div#col5 {
			@include border-radius($radio-standar);
			border: 0 1em;
			ul{
				li{
					a{
						color: $color_top-bottom;
						//color: Yellow;
						background-color: transparent;
						text-decoration: none;
					}
					&:hover{
						color: darken($color_top-bottom, 10%);
						//color: Blue;
						background-color: transparent;
						text-decoration: underline;
					}
				}
			}
		}
	}

    div#ffinal{
        min-height:2em;
    }


    div#legal{
        text-align:right;
		font-size: em($font_base - 2);
        color: $color_legal;
        background-color: $background_legal;
    }
}
