// Descripcion de las hormiguitas :)

$hormiga_altura: $font_base;
$hormiga_triangulo: ( $hormiga_altura/2 );

$color_crumbs00: $color00;
$color_crumbs01: $color01;
$color_crumbs02: $color02;
$color_crumbs03: $color03; //transparent; //$color03;
$color_crumbs04: transparent; //$color02;

section#hormiga{
	@include background-image(linear-gradient($color_menu02, $color_menu01));
	border-bottom: em(2px) solid $color_menu03;
	text-align: left;
	ul {
		padding-left: em(20px);
		list-style: none;
		display: inline-table;
		//li:first-child {
		//	&:before {
		//		content: "\2302";
		//	}
		//}
		li {
			&:before {
				content: "› ";
				color:  $color_crumbs03;
			}
			display: inline;
			height: em($hormiga_altura);
			a {
				text-decoration: none;
				padding-left: em(5px);
				padding-right: em(5px);
			}
			a:hover {
				background: $color02; //$color_crumbs04;    // hover del texto
				color:  $color_crumbs01;
				//text-decoration: underline;
			}
		}
	}
}
