// Noticias

section#news{
	@include border-radius($radio-standar);
	padding: .5em;
	margin: .5em;
	border: 1px solid $color08 ;

	h2{
		text-align:center;
	}

	ul{
		li{
            border-left: em(5px) solid $color02;;
            margin: 0.3em em(5px);
            padding: 0.3em em(5px);
            quotes: "\201C""\201D""\2018""\2019";

			a{
				//&:before {}
				&:hover:before {
					//background-color: darken($color03, 20%);
					//content: " ";
					//left: 0;
					//top: 0;
					//bottom: 0;
					//width: em(5px);
					//border-radius: em(2.5px);
					//box-shadow: inset 0 em(1px) em(1px) rgba(0, 0, 0, 0.5), 0 em(1px) em(1px) rgba(255, 255, 255, 0.3);
				}
				&:hover:after {}
			}
		}
		li:hover{}
		li:hover:before{
			//background-color: $color02;
			//color: $color03;
			//content: "\2023";
			//left: 0;
			//top: 0;
			//bottom: inherit;
			//width: em(5px);
			//padding-left: -em(15px);
		}
	}
}
